/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.create-seance {
  padding: 20px 20px;
  font-size: 1.6rem;
  float: right;
  margin-top: 1em;
}

.create-workspace {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: none;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: right;
  margin-top: 1.7em;
}

.role-typeActe {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;

  &.role-BF {
    background: $lightgreen;
    color: $darkgreen;
  }

  &.role-CC {
    background: $lightorange;
    color: $darkorange;
  }

  &.role-AR {
    background: $lightpurple;
    color: $darkpurple;
  }

  &.role-DE {
    background: $lightblue;
    color: $darkblue;
  }

  &.role-AI {
    background: $lightpink;
    color: $darkpink;
  }
}

.published-button, .published-button:active, .published-button:visited {
  background-color: $pristyblue;
  border-color: $pristyblue;
  box-shadow: none !important;
}

.published-button:hover {
  background-color: $darkblue !important;
  border-color: $darkblue !important;
}

.searchButton {
  width: 20vw;
}

.simple {
  border: none;
  background-color: inherit;
  color: var(--primary-color);
}

.action-buttons {
  display: flex;
}

/* mobile version */
@media(max-width:769px) {
  .searchButton {
    width: 50vw;
  }
  .col.right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile_button {
  display: flex;
}

@media screen and (min-width: 769px) {
  .mobile_button {
    display: none !important;
  }
}

/* mobile version */
@media (max-width: 769px) {
  .classic_button {
    display: none !important;
  }
}
