/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.zone-info {
  display: contents;
  padding: 1rem 0 1rem 2rem;
}

.group-right {
  float: right;
}

.align {
  display: flex;
  align-items: center;
}

.search {
  width: 100%;
}

.right {
  display: flex;
  justify-content: right;
}

.contents {
  display: contents;
}

.responsive-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item {
  display: block;
  padding: 0.1rem 0rem 0.1rem 1rem !important;
}

.p-menuitem-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile_zone {
  display: none;
}

/* mobile version */
@media (max-width: 515px) {
  .mobile_zone {
    display: grid;
  }

  .classic_zone {
    display: none;
  }
}

.p-fileupload-filename {
  min-width: 45vw;
}

.import {
  min-width: 32px;
}

.searchSpan {
  margin-left: 10vw !important;
  margin-top: -0.3rem;
}


.drag {
  display: flex;
  min-height: 25rem;
  border: #3d8c40 dashed thin;
  & p {
    text-align: center;
    margin: auto;
    font-size: 20px;
  }
}

.droptarget {
  min-height: 55rem;
}

#historyVersion,
#voletDetails {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: scroll;
  min-width: 15vw;
}

.passwordInput {
  padding: 1rem;
}

.text-role {
  color: var(--primary-color)
}