/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */
.error-message {
  color: red;
}

.error-date {
  display: grid;
}
.popup-add-workspace {
  z-index: 1001;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  & label {
    font-size: 1.1rem;
  }
}

.popup {
  z-index: 1001;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  & Textarea {
    width: 100%;
  }

  & label {
    font-size: 1.1rem;
  }

  &--share-link {
    & .field-checkbox {
      margin-top: 1.5rem;
    }

    & .p-calendar {
      max-width: 16rem;
    }
  }
}

#required {
  display: flex !important;
}

.required {
  color: red;
}

.p-fileupload .p-fileupload-row > div {
  flex: initial;
  width: auto;
}

// Warning : first column is preview of uploaded file, it only works with images, and for the moment only PDF are accepted
// This is why the "column" is minimised
.p-fileupload .p-fileupload-row > div:first-child {
  width: auto;
  padding: 0;
}

.p-fileupload .p-fileupload-row .p-fileupload-filename {
  flex: auto;
}
