<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="title"
    v-model:visible="displayPopup"
    modal
    maximizable
    class="popup"
    @hide="onHide"
  >
    <div>
      <DropDown
        id="dropdown_list_nature"
        v-model="typeActe"
        :options="listTypeActe"
        optionLabel="label"
        placeholder="Nature des documents"
        :value="typeActe"
        scrollHeight="300px"
        style="width: 18rem"
      />
    </div>
    <FileUpload
      v-if="canUpload"
      name="upload_actes"
      chooseLabel="Selectionner des fichiers"
      uploadLabel="Envoyer"
      cancelLabel="Annuler"
      invalidFileSizeMessage="{0}: Taille de fichier invalide, la taille du fichier doit être inférieure à {1}."
      invalidFileTypeMessage="{0}: Type de fichier non valide, les types de fichiers autorisés sont : {1}."
      invalidFileLimitMessage="Nombre maximum de fichiers dépassé, la limite est de {0} fichier au maximum"
      @uploader="alfuploader"
      customUpload
      multiple
      accept=".pdf"
      :maxFileSize="200000000"
    >
      <template #empty>
        <p>
          Glissez et déposez les fichiers ici pour les envoyer sur le serveur.
        </p>
      </template>
    </FileUpload>
    <template #footer>
      <Button label="Fermer" @click="toggleClose" severity="secondary" />
    </template>
  </Dialog>
</template>

<script>
import {
  alfrescoFileService,
  alfrescoNodeService,
  workspaceService,
} from "@pristy/pristy-libvue";
import delibService from "@/services/DelibService";
import naturesActes from "@/assets/actes/natures.json";
import pLimit from "p-limit";

const limit = pLimit(3);

export default {
  name: "ImportActePopup",
  props: {
    title: null,
    display: null,
    currentNodeId: null,
    nodeType: null,
    isSeance: null,
  },
  emits: {
    newNode: null,
    changeDisplay: null,
  },
  data() {
    return {
      displayPopup: false,
      canUpload: {
        type: Boolean,
        default: false,
      },
      typeActe: null,
      listTypeActe: naturesActes,
      uploadNodeId: null,
    };
  },
  mounted() {
    this.displayPopup = this.display;
    this.loadInfo();
  },
  methods: {
    onHide() {
      this.$emit("changeDisplay", false);
    },
    loadInfo() {
      if (this.isSeance) {
        this.uploadNodeId = this.$route.params.seance;
      } else {
        workspaceService
          .getWorkspace(this.$route.params.id)
          .then((workspace) => {
            return alfrescoNodeService.getChildren(workspace.guid);
          })
          .then((children) => {
            this.uploadNodeId = children.documentLibrary.id;
          })
          .catch((error) => {
            console.error(`Erreur de DocumentLibrary ${error}`);
          });
      }
    },
    toggleClose() {
      this.displayPopup = false;
      this.typeActe = null;
    },
    alfuploader(fileUploadUploaderEvent) {
      let uploadPromises = [];
      fileUploadUploaderEvent.files.forEach((file) => {
        let opts = {
          name: file.name,
          nodeType: this.nodeType,
          renditions: "doclib",
        };
        uploadPromises.push(
          limit(() =>
            alfrescoFileService
              .uploadFile(this.uploadNodeId, opts, file)
              .then((response) => {
                if (this.typeActe) {
                  return delibService.updateDelibType(
                    response.entry.id,
                    this.typeActe.type,
                  );
                }
                return response;
              }),
          ),
        );
      });
      Promise.allSettled(uploadPromises)
        .then((uploadResponses) => {
          let listUploaded = [];
          let successfulToast = [];
          let listError = [];
          uploadResponses.forEach((upResp) => {
            if (upResp.status === "fulfilled") {
              listUploaded.push(upResp.value);
              successfulToast.push(upResp.value.entry.name);
            } else {
              listError.push(upResp.reason);
            }
          });
          if (successfulToast.length > 0) {
            this.$toast.add({
              severity: "success",
              summary: "Actes ajoutés avec succès",
              detail: successfulToast.join(", "),
              life: 5000,
            });
          }
          if (listError.length > 0) {
            let uploadErrors;
            uploadErrors = listError.filter((error, index) => {
              return (
                index ===
                listError.findIndex((otherError) => {
                  return error.message === otherError.message;
                })
              );
            });
            uploadErrors.forEach((error) => {
              this.$toast.add({
                severity: "error",
                summary: "Erreur lors de l'upload",
                detail: error.message,
                life: 5000,
              });
            });
          }
          this.toggleClose();
          this.$emit("newNode", listUploaded);
        })
        .catch((error) => {
          console.error("Erreur upload", error);
          this.$toast.add({
            severity: "error",
            summary: "Erreur lors de l'upload",
            detail: error,
            life: 5000,
          });
        });
    },
  },
  watch: {
    display(newValue) {
      this.displayPopup = newValue;
    },
    $route() {
      if (this.$route.name === "seances") {
        this.loadInfo();
      }
    },
  },
};
</script>
