<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    header="Modifier cet espace"
    v-model:visible="displayPopup"
    modal
    class="popup"
    @hide="onHide"
  >
    <div class="p-fluid">
      <div class="field grid">
        <div id="required" class="col-12 mb-2">
          <label for="name">Nom</label>
          <p class="required">*</p>
        </div>
        <div class="col-12">
          <InputText
            @focusout="displayErrorEmptyNameMessage = true"
            @keyup.enter="modifyWorkspace"
            id="name"
            type="text"
            v-model="name"
          />
          <p v-if="!name && displayErrorEmptyNameMessage" class="error-message">
            Le champ nom ne peut pas être vide.
          </p>
        </div>
      </div>
      <div class="field grid">
        <label for="description" class="col-12 mb-2">Description</label>
        <div class="col-12">
          <TextArea
            id="description"
            placeholder="Votre description ici"
            autoResize
            rows="3"
            v-model="description"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="public" class="col-12 mb-2">Visible Publiquement</label>
        <div class="col-12">
          <InputSwitch
            v-model="isPubliclyVisble"
            class="flex align-items-center"
          />
        </div>
      </div>
    </div>
    <template #footer>
      <Button
        label="Annuler"
        @click="confirmModifyWorkspaceCancellation"
        severity="secondary"
      />
      <Button label="Valider" @click="modifyWorkspace" />
    </template>
  </Dialog>
  <ConfirmDialog group="confirmCancelModifyWorkspace" />
</template>

<script>
import { workspaceService } from "@pristy/pristy-libvue";

export default {
  name: "ModifyWorkspacePopup",
  props: {
    display: null,
    workspace: null,
  },
  emits: {
    updateNode: null,
    changeDisplay: null,
  },
  data() {
    return {
      modified: false,
      displayPopup: false,
      name: null,
      description: null,
      displayErrorEmptyNameMessage: false,
      errorNameMessage: null,
      originalName: null,
      originalDescription: null,
      originalisPubliclyVisble: null,
      isPubliclyVisble: null,
    };
  },
  mounted() {
    this.displayPopup = this.display;
    this.initPopup();
  },
  methods: {
    onHide() {
      if (!this.modified) {
        this.confirmModifyWorkspaceCancellation();
      }
    },
    initPopup() {
      this.modified = false;
      this.originalName = this.workspace.title;
      this.originalDescription = this.workspace.description;
      this.name = this.workspace.title;
      this.description = this.workspace.description;
      this.isPubliclyVisble =
        this.workspace.aspectNames.includes("am:isPublic");
      this.originalisPubliclyVisble =
        this.workspace.aspectNames.includes("am:isPublic");
    },
    modifyWorkspace() {
      let aspectNamesList = this.workspace.aspectNames;
      if (this.isPubliclyVisble) {
        if (!aspectNamesList.includes("am:isPublic")) {
          aspectNamesList.push("am:isPublic");
        }
      } else {
        const index = aspectNamesList.indexOf("am:isPublic");
        if (index !== -1) {
          aspectNamesList.splice(index, 1);
        }
      }
      const opts = {
        properties: {
          "cm:title": this.name,
          "cm:description": this.description,
        },
        aspectNames: aspectNamesList,
      };
      this.modified = true;
      workspaceService
        .updateWorkspace(this.workspace.guid, opts)
        .then(() => {
          this.$emit("updateNode", this.workspace, this.name, this.description);
          this.$emit("changeDisplay", false);
          this.$toast.add({
            severity: "success",
            summary: "Successful",
            detail: "Espace modifié avec succès",
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Error",
            detail: err.message,
            life: 3000,
          });
        });
    },
    isChange() {
      return (
        this.name !== this.originalName ||
        this.description !== this.originalDescription ||
        this.isPubliclyVisble !== this.originalisPubliclyVisble
      );
    },
    confirmModifyWorkspaceCancellation() {
      if (this.isChange()) {
        this.$confirm.require({
          message:
            "Êtes vous sûr de vouloir annuler la modification de cet espace ?",
          header: "Annulation",
          acceptLabel: "Oui",
          rejectLabel: "Non",
          group: "confirmCancelModifyWorkspace",
          accept: () => {
            this.$emit("changeDisplay", false);
          },
          reject: () => {
            this.displayPopup = true;
          },
        });
      } else {
        this.$emit("changeDisplay", false);
      }
    },
  },
  watch: {
    display(newValue) {
      this.displayPopup = newValue;
      this.initPopup();
    },
  },
};
</script>
