<!--
Copyright (C) 2022 - Jeci SARL - https://jeci.fr

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    header="Modification de l'acte administratif"
    visible
    modale
    maximizable
    class="popup"
    @keyup.esc="closePopup(false)"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <div class="p-fluid">
      <div class="field grid">
        <label for="id" class="col-12 mb-2 md:col-3 md:mb-0"
          >Nom du fichier <span class="required">*</span></label
        >
        <div class="col-12 md:col-9">
          <InputText
            @focusout="displayErrorEmptyIDMessage = true"
            id="id"
            type="text"
            v-model="delibId"
            @keyup.enter="toggleModifyDelib()"
            size="40"
          />
          <p
            v-if="!delibId && displayErrorEmptyIDMessage"
            class="error-message"
          >
            Le champ nom ne peut pas être vide.
          </p>
          <p v-if="delibId && displayErrorIdMessage" class="error-message">
            {{ errorIdMessage }}
          </p>
        </div>
      </div>
      <div class="field grid">
        <label for="name" class="col-12 mb-2 md:col-3 md:mb-0">Titre</label>
        <div class="col-12 md:col-9">
          <InputText
            id="name"
            type="text"
            v-model="delibName"
            @keyup.enter="toggleModifyDelib()"
            size="small"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="date" class="col-12 mb-2 md:col-3 md:mb-0">Date</label>
        <div class="md:col-9 error-date">
          <Calendar
            showIcon
            showButtonBar
            v-model="dateActe"
            dateFormat="dd/mm/yy"
          ></Calendar>
          <p v-if="displayErrorDateMessage" class="error-message">
            {{ errorDateMessage }}
          </p>
        </div>
      </div>
      <div class="field grid">
        <label for="description" class="col-12 mb-2 md:col-3 md:mb-0"
          >Description</label
        >
        <div class="col-12 md:col-9">
          <TextArea
            id="description"
            :placeholder="delibDescription"
            autoResize
            rows="3"
            v-model="delibDescription"
            @keyup.enter="toggleModifyDelib()"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="delibTypeActe" class="col-12 mb-2 md:col-3 md:mb-0"
          >Nature acte</label
        >
        <div class="col-12 md:col-9">
          <DropDown
            :value="delibTypeActe"
            v-model="delibTypeActe"
            :options="listTypeActe"
            optionLabel="label"
            :placeholder="listTypeActe[0].label"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="codeActe" class="col-12 mb-2 md:col-3 md:mb-0"
          >Code acte</label
        >
        <div class="col-12 md:col-9">
          <InputText
            id="codeActe"
            type="text"
            v-model="delibCodeActe"
            @keyup.enter="toggleModifyDelib()"
          />
        </div>
      </div>
    </div>
    <h3>Annexes</h3>
    <DataTable
      v-if="acteAnnexes && acteAnnexes.length > 0"
      :value="acteAnnexes"
      paginator
      :rows="5"
      dataKey="id"
      v-model:filters="filters"
      paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
      :rowsPerPageOptions="[5, 10, 25]"
      responsiveLayout="scroll"
      :globalFilterFields="['name']"
    >
      <Column field="name" header="Nom" sortable>
        <template #body="slotProps">
          <span @click="togglePdfVue(slotProps.data)" style="cursor: pointer">
            {{ slotProps.data.name }}
          </span>
        </template>
      </Column>
      <Column>
        <template #body="slotProps">
          <Button
            icon="ri-close-line"
            @click="openConfirmDeleteNode(slotProps.data, true)"
          />
        </template>
      </Column>
    </DataTable>
    <div v-if="acteAnnexes">
      <p v-if="nonUploadedAnnexe" class="error-message">
        {{ reminderUploadMessage }}
      </p>
      <FileUpload
        name="upload_delib"
        chooseLabel="Selectionner des fichiers"
        uploadLabel="Envoyer"
        cancelLabel="Annuler"
        invalidFileSizeMessage="{0}: Taille de fichier invalide, la taille du fichier doit être inférieure à {1}."
        invalidFileTypeMessage="{0}: Type de fichier non valide, les types de fichiers autorisés sont : {1}."
        invalidFileLimitMessage="Nombre maximum de fichiers dépassé, la limite est de {0} fichier au maximum"
        @uploader="annexeUploader"
        customUpload
        multiple
        accept=".pdf"
        :maxFileSize="25000000"
        @select="nonUploadedAnnexe = true"
        @clear="nonUploadedAnnexe = false"
      >
        <template #empty>
          <p>
            Glissez et déposez les fichiers ici pour les envoyer sur le serveur.
          </p>
        </template>
      </FileUpload>
    </div>
    <p v-if="nonUploadedAnnexe" class="error-message">
      {{ errorNonUploadedAnnexeMessage }}
    </p>
    <div v-if="!hasDatePublication">
      <divider class="mt-4" />
      <h3>Mettre à jour le fichier</h3>
      <p v-if="nonUploadedVersion" class="error-message">
        {{ reminderUploadMessage }}
      </p>
      <div class="field grid mt-3">
        <FileUpload
          name="upload_files"
          chooseLabel="Sélectionner des fichiers"
          uploadLabel="Envoyer"
          cancelLabel="Annuler"
          :invalidFileSizeMessage="`${0} : Taille de fichier invalide, la taille du fichier doit être inférieure à ${1}`"
          :invalidFileTypeMessage="`${0} : Type de fichier non valide, les types de fichiers autorisés sont : ${1}`"
          :invalidFileLimitMessage="`Nombre maximum de fichiers dépassé, la limite est de ${0} fichier au maximum`"
          @uploader="alfuploader"
          :customUpload="true"
          :multiple="false"
          :maxFileSize="500000000"
          :fileLimit="1"
          accept=".pdf"
          @select="nonUploadedVersion = true"
          @clear="nonUploadedVersion = false"
        >
          <template #empty>
            <p>
              Glissez et déposez les fichiers ici pour les envoyer sur le
              serveur.
            </p>
          </template>
        </FileUpload>
      </div>
      <div class="field grid">
        <label for="name" class="col-12 mb-2">Ajouter un commentaire</label>
        <div class="col-12 md:col-10 w-full">
          <TextArea id="comment" v-model="comment" autoResize :rows="5" />
        </div>
      </div>
      <div class="field grid">
        <div class="grid radio-display">
          <div class="col-12 md:col-6">
            <div class="field-radiobutton mb-0">
              <RadioButton
                id="majeure"
                name="majeure"
                value="MAJEURE"
                v-model="version"
              />
              <label for="majeure" v-tooltip="``">Majeure</label>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <div class="field-radiobutton mb-0">
              <RadioButton
                id="mineure"
                name="mineure"
                value="MINEURE"
                v-model="version"
              />
              <label for="mineure" v-tooltip="``">Mineure</label>
            </div>
          </div>
        </div>
      </div>
      <p v-if="nonUploadedVersion" class="error-message">
        {{ errorNonUploadedVersionMessage }}
      </p>
    </div>
    <template #footer>
      <Button label="Annuler" @click="closePopup" severity="secondary" />
      <Button label="Valider" @click="toggleModifyDelib()" />
    </template>
  </Dialog>
</template>

<script>
import delibService from "@/services/DelibService.js";
import {
  alfrescoNodeService,
  useConfigStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import { FilterMatchMode } from "primevue/api";
import naturesActes from "@/assets/actes/natures.json";

export default {
  name: "ModifyDelibPopup",
  emits: ["close", "reload"],
  data() {
    return {
      delibUuid: null,
      delibId: null,
      delibName: null,
      delibDescription: null,
      delibTypeActe: null,
      delibCodeActe: null,
      acteAnnexes: null,
      displayErrorEmptyIDMessage: false,
      displayErrorIdMessage: false,
      errorIdMessage: null,
      errorDateMessage: null,
      displayErrorDateMessage: false,
      errorNonUploadedAnnexeMessage: null,
      errorNonUploadedVersionMessage: null,
      dateActe: null,
      webdelib: false,
      filters: null,
      listTypeActe: naturesActes,
      node: null,
      config: null,
      nonUploadedAnnexe: false,
      nonUploadedVersion: false,
      version: null,
      comment: null,
      reminderUploadMessage: null,
    };
  },
  mounted() {
    this.config = useConfigStore();
    this.clear();
    this.node = useSelectionStore().nodes[0];
    this.initFilters();
    this.loadDelibDetails();
    this.version = "MAJEURE";
    this.comment = "";
    this.reminderUploadMessage =
      'Pensez à cliquer sur le bouton "Envoyer" pour envoyer le(s) fichier(s).';
  },
  methods: {
    alfuploader(fileUploadUploaderEvent) {
      let uploadPromises = [];
      fileUploadUploaderEvent.files.forEach((file) => {
        uploadPromises.push(
          alfrescoNodeService.updateContentNode(
            this.node.id,
            file,
            this.version === "MAJEURE",
            this.comment,
          ),
        );
      });
      Promise.allSettled(uploadPromises)
        .then((uploadResponses) => {
          const listUploaded = [];
          const successfulToast = [];
          const listError = [];
          uploadResponses.forEach((upResp) => {
            if (upResp.status === "fulfilled") {
              listUploaded.push(upResp.value);
              successfulToast.push(upResp.value.entry?.name);
            } else {
              listError.push(upResp.reason);
            }
          });
          if (successfulToast.length > 0) {
            this.$emit("reload");
            this.$toast.add({
              severity: "success",
              summary: "Successful",
              detail: "Transfert de fichier(s) terminé",
              life: 5000,
            });
          }
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: `Erreur lors de l’import ${error}`,
            detail: error,
            life: 5000,
          });
        });
    },
    findNature(nature) {
      let type = this.listTypeActe.find((m) => m.type === nature);
      if (type) {
        return type;
      } else {
        return { label: "", type: "" };
      }
    },
    clear() {
      this.delibUuid = null;
      this.delibId = null;
      this.delibName = null;
      this.delibDescription = null;
      this.delibTypeActe = null;
      this.delibCodeActe = null;
      this.acteAnnexes = null;
      this.displayErrorEmptyIDMessage = false;
      this.displayErrorIdMessage = false;
      this.errorIdMessage = null;
      this.errorDateMessage = null;
      this.displayErrorDateMessage = false;
      this.errorNonUploadedVersionMessage = null;
      this.errorNonUploadedAnnexeMessage = null;
      this.nonUploadedAnnexe = false;
      this.nonUploadedVersion = false;
      this.dateActe = null;
      this.webdelib = false;
    },
    loadDelibDetails() {
      this.webdelib = this.config.WEBDELIB;
      this.delibUuid = this.node.id;
      this.delibId = this.node.name;
      this.delibName = this.node.properties["cm:title"];
      this.dateActe = new Date(this.node.properties["am:dateActe"]);
      this.delibDescription = this.node.properties["cm:description"];
      this.delibTypeActe = this.findNature(this.node.typeActe);
      delibService.getActeAnnexes(this.node.id).then((annexes) => {
        this.acteAnnexes = annexes;
      });
      this.delibCodeActe = this.node.properties["am:codeActe"];
    },
    initFilters() {
      this.filters = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
    closePopup(reload) {
      this.$emit("close", reload);
    },
    togglePdfVue(data) {
      return {
        name: "consultation-pdf",
        params: { id: data.id },
      };
    },
    annexeUploader(fileUploadUploaderEvent) {
      fileUploadUploaderEvent.files.forEach((file) => {
        console.log("Uploading... ", file);
        let opts = {
          name: file.name,
          nodeType: "am:annexeConstitutive",
          association: {
            assocType: "am:annexesConstitutives",
          },
        };

        alfrescoNodeService
          .createNode(this.delibUuid, opts)
          .then((annexe) => {
            return alfrescoNodeService.updateContentNode(annexe.entry.id, file);
          })
          .then((updatedAnnexe) => {
            this.acteAnnexes.push(updatedAnnexe.entry);
            this.nonUploadedAnnexe = false;
            this.$toast.add({
              severity: "success",
              summary: "Successful",
              detail: "Annexe ajoutée avec succès",
              life: 2000,
            });
          })
          .catch((message) => {
            this.$toast.add({
              severity: "error",
              summary: "Erreur lors de l'upload",
              detail: message,
              life: 3000,
            });
          });
      });
    },
    openConfirmDeleteNode(node, isAnnexe) {
      this.nodeIsAnnexe = isAnnexe;
      this.nodeToDelete = node;
      this.deleteConfirmation = true;
    },
    toggleModifyDelib() {
      if (
        this.delibId == null ||
        this.delibId === "" ||
        this.delibTypeActe == null
      ) {
        this.displayErrorEmptyIDMessage =
          this.delibId == null || this.delibId === "";
      } else if (this.nonUploadedAnnexe) {
        this.errorNonUploadedAnnexeMessage =
          "Des annexes ne sont pas uploadées.";
      } else if (this.nonUploadedVersion) {
        this.errorNonUploadedVersionMessage =
          "La nouvelle version du document n'a pas été uploadée.";
      } else {
        delibService
          .modifyDelib(
            this.delibUuid,
            this.delibId,
            this.delibName,
            this.dateActe,
            this.delibDescription,
            this.delibTypeActe,
            this.delibCodeActe,
          )
          .then((response) => {
            if (response.entry) {
              this.closePopup(true);
              this.$toast.add({
                severity: "success",
                summary: "Successful",
                detail: "Acte modifié avec succès",
                life: 2000,
              });
            } else if (response.status === 409 || response.status === 422) {
              this.errorIdMessage = response.message;
              this.displayErrorIdMessage = true;
            }
          })
          .catch((message) => {
            this.$toast.add({
              severity: "error",
              summary: "Erreur lors de la modification",
              detail: message,
              life: 3000,
            });
          });
      }
    },
  },
  computed: {
    hasDatePublication() {
      return (
        this.node &&
        this.node.properties &&
        this.node.properties["am:datePublication"] !== undefined
      );
    },
  },
};
</script>

<style scoped></style>
