<!--
Copyright (C) 2022 - Jeci SARL - https://jeci.fr

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    header="Modifier la séance"
    modal
    visible
    class="popup"
    @keyup.esc="closePopup(false)"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <div class="field grid">
      <label for="date" class="col-12 mb-2">Date</label>
      <div class="error-date">
        <Calendar
          showIcon
          showButtonBar
          v-model="dateSeance"
          @update:modelValue="checkForChanges"
        ></Calendar>
        <p v-if="displayErrorDateMessage" class="error-message">
          {{ errorDateMessage }}
        </p>
      </div>
    </div>
    <div class="field grid">
      <label for="description" class="col-12 mb-2">Description</label>
      <div class="col-12">
        <TextArea
          id="description"
          placeholder="Votre description ici"
          autoResize
          rows="3"
          v-model="description"
          @input="checkForChanges"
        />
      </div>
    </div>
    <template #footer>
      <Button label="Annuler" @click="closePopup(false)" severity="secondary" />
      <Button
        label="Modifier la séance"
        @click="toggleModifySeance"
        :disabled="!isModified"
      />
    </template>
  </Dialog>
</template>

<script>
import { alfrescoNodeService } from "@pristy/pristy-libvue";

export default {
  name: "ModifySeancePopup",
  props: {
    seance: null,
  },
  emits: ["close"],
  data() {
    return {
      displayErrorDateMessage: null,
      errorDateMessage: null,
      dateSeance: null,
      description: "",
      isModified: false,
    };
  },
  mounted() {
    this.dateSeance =
      this.formaterDate(this.seance.properties["am:dateSeance"]) || null;
    this.description = this.seance.properties["cm:description"] || "";
  },
  methods: {
    formaterDate(dateStr) {
      const date = new Date(dateStr);
      const jour = date.getDate().toString().padStart(2, "0");
      const mois = (date.getMonth() + 1).toString().padStart(2, "0");
      const annee = date.getFullYear();
      return `${jour}/${mois}/${annee}`;
    },
    closePopup(reload) {
      this.$emit("close", reload);
    },
    toggleModifySeance() {
      if (this.dateSeance === null) {
        this.errorDateMessage = "Veuillez indiquer une date.";
        this.displayErrorDateMessage = true;
      } else {
        let opts = {
          name: `seance-du-${this.getDateName(this.dateSeance).replaceAll(
            " ",
            "-",
          )}`,
          nodeType: "am:dossierSeance",
          properties: {
            "cm:title": "Séance du " + this.getDateName(this.dateSeance),
            "am:dateSeance": new Date(
              Date.UTC(
                this.dateSeance.getFullYear(),
                this.dateSeance.getMonth(),
                this.dateSeance.getDate(),
              ),
            ),
            "cm:description": this.description,
          },
        };
        alfrescoNodeService
          .updateNode(this.seance.id, opts)
          .then(() => {
            this.$emit("close", true);
            this.$toast.add({
              severity: "success",
              summary: "Successful",
              detail: "Séance modifiée avec succès",
              life: 3000,
            });
          })
          .catch(() => {
            this.errorDateMessage =
              "Error: Une séance avec cette date est déjà existante.";
            this.displayErrorDateMessage = true;
          });
      }
    },
    getDateName(date) {
      const dateOptions = { year: "numeric", month: "long", day: "numeric" };
      return date.toLocaleDateString("fr-FR", dateOptions);
    },
    checkForChanges() {
      const formattedDateSeance = this.formaterDate(this.dateSeance);
      const originalDateSeance = this.formaterDate(
        this.seance.properties["am:dateSeance"],
      );
      if (
        formattedDateSeance !== originalDateSeance ||
        this.description !== this.seance.properties["cm:description"]
      ) {
        this.isModified = true;
      } else {
        this.isModified = false;
      }
    },
  },
};
</script>
