<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    header="Déplacer l’élément"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <Message :closable="false" v-if="displayError" severity="error">
      {{ errorMove }}
    </Message>
    <div class="field grid" style="height: 100%">
      <div class="p-col-3">
        <div class="mb-3 text-900">Déplacer les éléments suivants</div>
        <DataView :value="nodes">
          <template #list="slotProps">
            <div class="w-full" v-for="item in slotProps.items" :key="item.id">
              <span class="flex align-items-center gap-2 text-700">
                <i v-if="item.isFolder" class="ri-folder-2-line" />
                <i v-else class="ri-file-line" />
                <span class="font-semibold">{{ item.name }}</span>
              </span>
            </div>
          </template>
        </DataView>
      </div>
      <div class="p-col-9 ml-8 mr-6">
        <label class="w-full mb-2 text-900">
          Choisir la séance de destination<span class="required">*</span>
        </label>
        <div class="w-full mb-2 mt-2 p-d-flex p-flex-column">
          <AutoComplete
            forceSelection
            v-if="seances"
            v-model="selectedSeance"
            :options="seances"
            dropdown
            field="name"
            :suggestions="filteredItems"
            @item-select="selectNode(selectedSeance, selectedSeance.name)"
            @complete="search($event)"
            placeholder="Sélectionner une séance"
          />
        </div>
        <div class="w-full mb-2">
          <label v-if="this.destination"
            >Destination : {{ destinationName }}</label
          >
          <label v-else>Pas de destination choisie.</label>
        </div>
      </div>
    </div>
    <div v-if="this.$route.params.seance">
      <Button
        label="Retirer de la séance"
        severity="primary"
        rounded
        raised
        @click="removeFromSeance"
      />
    </div>
    <template #footer>
      <div class="p-d-flex p-jc-end">
        <Button label="Annuler" @click="closePopup" severity="secondary" />
        <Button label="Valider" @click="moveElement" :disabled="!canMove" />
      </div>
    </template>
  </Dialog>
</template>

<script>
import { alfrescoNodeService, useSelectionStore } from "@pristy/pristy-libvue";
import actionsService from "@/services/ActionsService";
import delibService from "@/services/DelibService.js";

const SITE = "st:site";

export default {
  name: "MoveNodePopup",
  emits: ["close", "reload-datatable"],
  props: {
    currentNode: {},
  },
  data() {
    return {
      nodes: [],
      destination: null,
      documentLibrary: null,
      displayError: false,
      destinationName: null,
      canMove: true,
      errorMove: null,
      selectedSeance: null,
      seances: null,
      filteredItems: null,
    };
  },
  created() {
    this.selectionStore = useSelectionStore();
  },
  mounted() {
    this.nodes = this.selectionStore.nodes;
    this.displayError = false;
    this.destination = null;
    this.documentLibrary = null;
    this.destinationName = null;
    this.name = null;
    this.canMove = true;
    this.errorMove = null;
    delibService
      .searchWorkspaceSeances(this.$route.params.id)
      .then((seances) => {
        this.seances = seances.list.entries.map((entry) => entry.entry);
      });
  },
  methods: {
    search(event) {
      setTimeout(() => {
        if (!event.query.trim().length) {
          this.filteredItems = [...this.seances];
        } else {
          let query = event.query.toLowerCase();

          this.filteredItems = this.seances.filter((seance) => {
            let res = seance.name?.toLowerCase().includes(query);
            return res;
          });
        }
      }, 250);
    },
    removeFromSeance() {
      delibService
        .getWorkspaceContainers(this.$route.params.id)
        .then((container) => {
          alfrescoNodeService
            .getNode(container[0].id)
            .then((documentLibraryNode) => {
              this.selectNode(documentLibraryNode, this.$route.params.id);
              this.moveElement();
            });
        });
    },
    closePopup(reload) {
      this.$emit("close", reload);
    },
    reloadDatatable() {
      this.$emit("reload-datatable", this.nodes);
    },
    selectNode(item, label) {
      this.displayError = false;
      this.errorMove = null;
      this.canMove = true;
      this.destination = item;
      this.destinationName = label;
      this.canMove = true;
      if (!this.canWrite(item)) {
        this.errorMove =
          "Vous n’avez pas les droits pour déplacer l’élément à cette destination.";
        this.displayError = true;
        this.canMove = false;
      }
    },
    moveElement() {
      if (this.destination === null) {
        this.displayError = true;
        this.errorMove = "Aucune destination n’a été sélectionnée.";
        return;
      }
      let destId =
        this.destination.nodeType === SITE
          ? this.documentLibrary.id
          : this.destination.id;

      const movePromises = this.selectionStore.nodes.map((element) => {
        return actionsService.getItemName(destId, element).then((itemName) => {
          return alfrescoNodeService.moveNode(element.id, destId, itemName);
        });
      });

      Promise.allSettled(movePromises)
        .then((responses) => {
          let successfulToast = responses
            .filter((resp) => resp.status === "fulfilled")
            .map((resp) => resp.value.entry?.name);
          let listError = responses
            .filter((resp) => resp.status !== "fulfilled")
            .map((resp) => resp.reason);

          if (successfulToast.length > 0) {
            this.selectionStore.resetSelection();
            this.$toast.add({
              severity: "success",
              summary: "Succès",
              detail: `${successfulToast.length} élément(s) déplacé(s) avec succès`,
              life: 5000,
            });
            this.reloadDatatable();
          }
          if (listError.length > 0) {
            this.$toast.add({
              severity: "error",
              summary: "Erreur lors du déplacement d’un ou plusieurs éléments.",
              detail: listError,
              life: 5000,
            });
          }
          this.reloadDatatable();
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur lors du déplacement d’un ou plusieurs éléments.",
            detail: error,
            life: 5000,
          });
        });
    },
    canWrite(item) {
      return !!item?.allowableOperations?.find((child) => child === "create");
    },
  },
};
</script>
