<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    header="Créer un nouvel espace"
    v-model:visible="displayPopup"
    modal
    class="popup"
    @hide="onHide"
  >
    <div class="p-fluid">
      <div class="field grid">
        <div id="required" class="col-12 mb-2">
          <label for="id">ID</label>
          <p class="required">*</p>
        </div>
        <div class="col-10">
          <InputText
            @focusout="checkErrorsOnId"
            @keyup.enter="createWorkspace"
            id="id"
            type="text"
            v-model="id"
            v-tooltip="
              `Le nom de l'ID peut comporter uniquement les caractères a-z, A-Z, 0-9 et -.`
            "
          />
          <p v-if="!id && displayErrorEmptyIDMessage" class="error-message">
            Le champ id ne peut pas être vide.
          </p>
          <p v-if="id && displayErrorIdMessage" class="error-message">
            {{ errorIdMessage }}
          </p>
        </div>
        <div class="col-2">
          <InlineMessage
            severity="info"
            class="bg-white"
            icon="ri-information-line"
            v-tooltip="
              `Le champ ID ne pourra pas être modifié, il définit l'url de l'espace. \n\nIl est possible de changer le nom de l'espace par la suite.`
            "
          />
        </div>
      </div>
      <div class="field grid">
        <label for="description" class="col-12 mb-2">Description</label>
        <div class="col-12">
          <TextArea
            id="description"
            placeholder="Votre description ici"
            autoResize
            rows="3"
            v-model="description"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="public" class="col-12 mb-2">Visible Publiquement</label>
        <div class="col-12">
          <InputSwitch
            v-model="isPubliclyVisble"
            class="flex align-items-center"
          />
        </div>
      </div>
    </div>
    <template #footer>
      <Button label="Annuler" @click="toggleClose" severity="secondary" />
      <Button
        label="Creer et ajouter des membres"
        @click="toggleCreateWorkspaceAndAddMembers"
        class="ml-4"
        outlined
      />
      <Button label="Creer l'espace" @click="createWorkspace" />
    </template>
  </Dialog>
</template>

<script>
import { workspaceService } from "@pristy/pristy-libvue";

export default {
  name: "NewWorkspacePopup",
  props: {
    display: null,
  },
  emits: {
    newNode: null,
    changeDisplay: null,
  },
  data() {
    return {
      displayPopup: false,
      id: null,
      name: null,
      description: null,
      displayErrorEmptyIDMessage: false,
      displayErrorIdMessage: false,
      errorIdMessage: null,
      isPubliclyVisble: true,
    };
  },
  mounted() {
    this.displayPopup = this.display;
    this.initPopup();
  },
  methods: {
    checkErrorsOnId() {
      this.displayErrorIdMessage = false;
      this.displayErrorEmptyIDMessage = false;
      if (this.id != null) {
        if (/[^a-zA-Z0-9-]/gi.test(this.id)) {
          this.errorIdMessage =
            "L'identifiant choisi ne respecte pas le format requis.";
          this.displayErrorIdMessage = true;
        } else if (this.id.length === 0) {
          this.displayErrorEmptyIDMessage = true;
        }
      } else {
        this.displayErrorEmptyIDMessage = true;
      }
    },
    onHide() {
      this.$emit("changeDisplay", false);
    },
    initPopup() {
      this.id = null;
      this.name = null;
      this.description = null;
      this.displayErrorEmptyIDMessage = false;
      this.displayErrorIdMessage = false;
      this.errorIdMessage = null;
    },
    createWorkspace() {
      this.name = this.id;
      if (this.id === null || this.name === null) {
        this.checkParameters();
        return;
      }
      workspaceService
        .createWorkspace(this.id, this.name, this.description, "PRIVATE")
        .then((newWorkspace) => {
          if (this.isPubliclyVisble) {
            return workspaceService.updateActeWorkspaceType(
              newWorkspace.entry.guid,
              "actes",
            );
          } else {
            return workspaceService.updateWorkspaceType(
              newWorkspace.entry.guid,
              "actes",
            );
          }
        })
        .then((workspace) => {
          this.$emit("newNode", workspace);
          this.toggleClose();
          this.$toast.add({
            severity: "success",
            summary: "Successful",
            detail: "Espace créé avec succès",
            life: 3000,
          });
          return workspace;
        })
        .then((data) => {
          if (data.entry.name && this.redirectToMembers) {
            this.toggleWorkspaceMembers(data.entry.name);
          }
        })
        .catch((err) => {
          this.errorIdMessage = err.message;
          this.displayErrorIdMessage = true;
          return err;
        });
    },
    checkParameters() {
      this.displayErrorEmptyIDMessage = this.id === null;
    },
    toggleWorkspaceMembers(id) {
      this.$router.push({
        name: "espace-actes-membres",
        params: { id: id },
      });
    },
    toggleClose() {
      this.displayPopup = false;
    },
    toggleCreateWorkspaceAndAddMembers() {
      this.redirectToMembers = true;
      this.createWorkspace();
    },
  },
  watch: {
    display(newValue) {
      this.displayPopup = newValue;
      this.initPopup();
    },
  },
};
</script>
