<template>
  <Dialog
    header="Lien à partager"
    visible
    modal
    class="popup popup--share-link"
    @keyup.esc="closePopup(false)"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <p>Obtenir un lien de partage pour "{{ this.currentNode?.name }}"</p>
    <div class="p-inputgroup">
      <InputText placeholder="Lien de partage" v-model="link" disabled />
      <div v-if="!this.shareId">
        <Button severity="success" @click="createSharedLink"
          ><i class="ri-link" />&nbsp;Créer le lien de partage
        </Button>
      </div>
      <div v-else>
        <Button severity="warning" @click="copyLinkClipboard"
          ><i class="ri-clipboard-line" />&nbsp;Copier le lien de partage
        </Button>
        <Button
          icon="ri-link-unlink"
          severity="danger"
          v-tooltip="`Supprimer le lien de partage`"
          @click="deleteSharedLink"
        />
      </div>
    </div>
    <div v-if="this.shareId">
      <div class="field-checkbox">
        <CheckBox
          inputId="expirationDate"
          v-model="hasExpirationDate"
          binary
          v-tooltip="`Ajouter une date d'expiration`"
          @change="dateChecked"
        />
        <label for="expirationDate">Date d'expiration</label>
      </div>
      <div class="p-inputgroup" v-if="hasExpirationDate">
        <Calendar v-model="date" @date-select="updateLinkDate" />
        <Button
          icon="ri-delete-bin-line"
          severity="danger"
          v-tooltip="`Supprimer la date d'expiration`"
          @click="deleteLinkDate"
        />
      </div>
    </div>
    <template #footer>
      <Button label="Fermer" @click="closePopup" severity="secondary" />
    </template>
  </Dialog>
</template>

<script>
import {
  alfrescoNodeService,
  alfrescoFileService,
  useConfigStore,
} from "@pristy/pristy-libvue";

export default {
  name: "ShareLinkPopup",
  props: {
    display: null,
    currentNode: null,
  },
  emits: ["close", "reload"],
  data() {
    return {
      link: null,
      shareId: null,
      date: null,
      hasExpirationDate: false,
      config: null,
    };
  },
  created() {
    this.config = useConfigStore();
  },
  mounted() {
    this.shareId = this.currentNode.properties["qshare:sharedId"] ?? null;
    this.hasExpirationDate = "qshare:expiryDate" in this.currentNode.properties;
    this.date = this.hasExpirationDate
      ? new Date(this.currentNode.properties["qshare:expiryDate"])
      : null;
  },
  methods: {
    closePopup(reload) {
      this.$emit("close", reload);
    },
    dateChecked() {
      if (!this.hasExpirationDate) {
        this.deleteLinkDate();
      }
    },
    copyLinkClipboard() {
      navigator.clipboard.writeText(this.link).then(() => {
        this.$toast.add({
          severity: "success",
          summary: "Lien copié",
          detail: "Le lien a bien été copié",
          life: 3000,
        });
      });
    },
    deleteLinkDate() {
      this.date = null;
      this.hasExpirationDate = false;
      this.updateLinkDate();
    },
    updateLinkDate() {
      const opts = {
        properties: {
          "qshare:expiryDate": this.date ? this.date.toISOString() : null,
        },
      };
      alfrescoNodeService
        .updateNode(this.currentNode.id, opts)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: "Date d'expiration",
            detail: "La date d'expiration du lien a bien été modifiée",
            life: 3000,
          });
          this.$emit("reloadData");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur modification date d'expiration",
            detail: err.message,
            life: 3000,
          });
        });
    },
    deleteSharedLink() {
      alfrescoNodeService
        .deleteSharedLink(this.shareId)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: "Suppression lien",
            detail: "Le lien a bien été supprimé",
            life: 3000,
          });
          this.$emit("reloadData");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur suppression du lien",
            detail: err.message,
            life: 3000,
          });
        });
      this.shareId = null;
      this.link = null;
      this.date = null;
      this.hasExpirationDate = false;
    },
    createSharedLink() {
      alfrescoNodeService
        .createSharedLink(this.currentNode)
        .then((data) => {
          this.shareId = data.entry.id;
          this.$toast.add({
            severity: "success",
            summary: "Création lien",
            detail: "Le lien a bien été créé",
            life: 3000,
          });

          // Force PDF Rendition
          alfrescoFileService.createRendition(this.currentNode.id, "pdf");
          this.$emit("reloadData");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur création du lien",
            detail: err.message,
            life: 3000,
          });
        });
    },
  },
  watch: {
    shareId(newValue) {
      if (newValue !== null) {
        this.link = `${this.config.PREVIEW_URL}${newValue}`;
      } else {
        this.link = null;
      }
    },
  },
};
</script>
