<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
      <div class="col-12 mt-5 xl:mt-0 text-center">
        <img
          :src="`/images/pristy/logo.png`"
          alt="Pristy logo"
          class="mb-5"
          style="width: 120px; height: 60px; margin-top: 1rem"
        />
      </div>
      <div
        class="col-12 xl:col-6"
        style="
          border-radius: 56px;
          padding: 0.3rem;
          background: linear-gradient(
            180deg,
            rgba(247, 149, 48, 0.4) 10%,
            rgba(247, 149, 48, 0) 30%
          );
        "
      >
        <div
          class="h-full w-full m-0 py-7 px-4"
          style="
            border-radius: 53px;
            background: linear-gradient(
              180deg,
              var(--surface-50) 38.9%,
              var(--surface-0)
            );
          "
        >
          <div class="grid flex flex-column align-items-center">
            <div
              class="flex justify-content-center align-items-center bg-orange-500 border-circle"
              style="width: 3.2rem; height: 3.2rem"
            >
              <i class="pi pi-fw pi-lock text-2xl text-50" />
            </div>
            <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">
              Acces Refusé
            </h1>
            <span class="text-600 text-center"
              >Vous n'avez pas les droits nécéssaires pour accèder à cette page.
              Veuillez contacter un administrateur.</span
            >
            <img
              :src="`/public/images/access-denied.svg`"
              alt="Access denied"
              class="mt-5"
              width="80%"
            />
            <div class="col-12 mt-5 text-center">
              <i
                class="pi pi-fw pi-arrow-left text-blue-500 mr-2"
                style="vertical-align: center"
              />
              <router-link to="/" class="text-blue-500"
                >Retour au menu</router-link
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
