<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="col-12">
    <div class="card card-w-title">
      <h1 v-if="workspace">Gestion des membres : {{ workspace.title }}</h1>
    </div>
    <div class="card">
      <div class="grid">
        <div
          class="col-12 workspace-members-head p-3 justify-content-between lg:justify-content-center align-items-center"
        >
          <div class="align-items-center">
            <h3>
              <span class="line-height-3"
                >Vous êtes
                <span class="text-role font-medium">{{ role }}</span> de cet
                espace.</span
              >
            </h3>
          </div>
        </div>
        <div class="col-12">
          <DataTable
            id="membres"
            :value="members"
            rowHover
            dataKey="id"
            responsiveLayout="scroll"
          >
            <Column field="avatar">
              <template #body="{ data }">
                <Avatar
                  :label="
                    data.person
                      ? data.person.displayName.charAt(0)
                      : data.group.displayName.charAt(0)
                  "
                  size="large"
                  :style="{ 'background-color': '#2196F3', color: '#ffffff' }"
                  shape="circle"
                />
              </template>
            </Column>
            <Column
              field="isGroup"
              header="Groupes"
              headerStyle="max-width: 4rem"
              sortable
            >
              <template #body="{ data }">
                <i v-if="data.isGroup" class="ri-group-line members" />
              </template>
            </Column>
            <Column field="person" header="Membres">
              <template #body="{ data }">
                <span>{{
                  data.person
                    ? `${data.person.displayName} (${data.person.email}) `
                    : data.group.displayName
                }}</span>
              </template>
            </Column>
            <Column field="role" header="Rôle">
              <template #body="{ data }">
                <DropDown
                  v-model="selectedRole[data.id]"
                  :options="rolesValues"
                  optionLabel="name"
                  :placeholder="getReadableRole(data.role)"
                  :value="data.role"
                  @change="toggleChangeMemberRole(data)"
                  :disabled="!enablePermissions"
                />
              </template>
            </Column>
            <Column field="buttons">
              <template #body="{ data }">
                <Button
                  class="mr-2 mb-2"
                  type="button"
                  icon="ri-close-line"
                  @click="toggleDeleteMember(data)"
                  :disabled="!enablePermissions"
                  rounded
                  text
                  severity="danger"
                />
              </template>
            </Column>
          </DataTable>
          <div class="grid my-2">
            <div class="col-fixed mr-2 mb-2">
              <span class="p-input-icon-left p-input-icon-right">
                <AutoComplete
                  forceSelection
                  v-if="membersToAddList"
                  v-model="selectedMemberToAdd"
                  :options="membersToAddList"
                  dropdown
                  field="label"
                  :suggestions="filteredMembers"
                  @complete="searchUser($event)"
                  placeholder="Rechercher"
                  :disabled="!enablePermissions"
                >
                  <template #item="slotProps">
                    <div class="member-item">
                      <i v-if="slotProps.item.group" class="ri-user-3-line" />
                      <div class="ml-2">{{ slotProps.item.label }}</div>
                    </div>
                  </template>
                </AutoComplete>
              </span>
            </div>
            <div class="col-fixed mr-2 mb-2">
              <DropDown
                v-model="addSelectedRole"
                :options="rolesValues"
                optionLabel="name"
                placeholder="Select"
                :disabled="!enablePermissions"
              />
            </div>
            <div class="col mr-2 mb-2">
              <Button
                type="button"
                icon="ri-user-add-line"
                label="Ajouter"
                @click="toggleAddMember"
                :disabled="!enablePermissions"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { workspaceService, useConfigStore } from "@pristy/pristy-libvue";

export default {
  data() {
    return {
      workspace: null,
      members: null,
      role: null,
      selectedRole: [],
      rolesValues: [
        { name: "Gestionnaire" },
        { name: "Éditeur" },
        { name: "Lecteur" },
      ],
      membersToAddList: null,
      defaultDropDownValue: { name: "Lecteur" },
      selectedMemberToAdd: null,
      filteredMembers: null,
      addSelectedRole: null,
      enablePermissions: false,
      config: null,
    };
  },
  created() {
    this.config = useConfigStore();
  },
  mounted() {
    workspaceService.getWorkspace(this.$route.params.id).then((workspace) => {
      this.workspace = workspace;
      window.document.title = `Membres de l'espace ${this.workspace.title} | ${this.config.APP_ROOT_TITLE}`;
      this.role = this.getReadableRole(workspace.role);
      this.enablePermissions = this.role === "Gestionnaire";
    });
    this.loadMembers();
    this.loadMembersToAddList();
    this.addSelectedRole = this.defaultDropDownValue;
  },
  methods: {
    loadMembers() {
      let users = workspaceService
        .getWorkspaceMemberships(this.$route.params.id)
        .then((usersArr) => {
          return usersArr.map((user) => ({
            ...user,
            isGroup: false,
          }));
        });
      let groups = workspaceService
        .getWorkspaceGroups(this.$route.params.id)
        .then((groupsArr) => {
          return groupsArr.map((group) => ({
            ...group,
            isGroup: true,
          }));
        });
      Promise.all([users, groups]).then(
        (result) => (this.members = [...result[0], ...result[1]]),
      );
    },
    loadMembersToAddList() {
      workspaceService
        .getAllUsers()
        .then((users) => {
          this.membersToAddList = users;
          return workspaceService.getAllGroups();
        })
        .then((groups) => {
          this.membersToAddList = [...this.membersToAddList, ...groups];
        });
    },
    toggleAddMember() {
      if (this.selectedMemberToAdd == null) {
        this.$toast.add({
          severity: "error",
          summary: "Erreur",
          detail: "Veuillez ajouter un membre dans le champ de recherche.",
          life: 3000,
        });
      } else {
        let newRole = this.getAlfrescoRole(this.addSelectedRole.name);
        let isGroup = this.selectedMemberToAdd.group;
        const addMember = isGroup
          ? workspaceService.addWorkspaceGroup(
              this.workspace.id,
              this.selectedMemberToAdd.id,
              newRole,
            )
          : workspaceService.addWorkspaceUser(
              this.workspace.id,
              this.selectedMemberToAdd.id,
              newRole,
            );
        addMember
          .then((data) => {
            let entry = data.entry;
            entry.isGroup = isGroup;
            this.members.push(entry);
            this.$toast.add({
              severity: "success",
              summary: "Success",
              detail: "Membre ajouté avec succès",
              life: 3000,
            });
          })
          .catch((err) => {
            this.$toast.add({
              severity: "error",
              summary: "Error",
              detail: err.message,
              life: 3000,
            });
          });
      }
    },
    toggleChangeMemberRole(member) {
      let siteId = this.workspace.id;
      let newRole = this.getAlfrescoRole(this.selectedRole[member.id].name);
      const changeMemberRole = member.group
        ? workspaceService.updateWorkspaceGroupRole(siteId, member.id, newRole)
        : workspaceService.updateWorkspaceUserRole(siteId, member.id, newRole);
      changeMemberRole
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: "Succès",
            detail: "Rôle changé avec succès",
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: err.message,
            life: 3000,
          });
        });
    },
    toggleDeleteMember(member) {
      let siteId = this.workspace.id;
      const deleteMember = member.group
        ? workspaceService.deleteWorkspaceGroup(siteId, member.id)
        : workspaceService.deleteWorkspaceUser(siteId, member.id);
      deleteMember
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: "Succès",
            detail: `Accès au membre ${member.id} supprimé avec succès`,
            life: 3000,
          });
        })
        .then(() => {
          this.loadMembers();
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: err.message,
            life: 3000,
          });
        });
    },
    getReadableRole(role) {
      let readableRole = null;
      switch (role) {
        case "SiteManager":
          readableRole = "Gestionnaire";
          break;
        case "SiteConsumer":
          readableRole = "Lecteur";
          break;
        case "SiteCollaborator":
          readableRole = "Éditeur";
          break;
      }
      return readableRole;
    },
    getAlfrescoRole(role) {
      let alfrescoRole = null;
      switch (role) {
        case "Gestionnaire":
          alfrescoRole = "SiteManager";
          break;
        case "Lecteur":
          alfrescoRole = "SiteConsumer";
          break;
        case "Éditeur":
          alfrescoRole = "SiteCollaborator";
          break;
      }
      return alfrescoRole;
    },
    searchUser(event) {
      setTimeout(() => {
        if (!event.query.trim().length) {
          this.filteredMembers = [...this.membersToAddList];
        } else {
          let query = event.query.toLowerCase();

          this.filteredMembers = this.membersToAddList.filter((member) => {
            let res = member.firstname?.toLowerCase().includes(query);
            res = res || member.lastname?.toLowerCase().includes(query);
            res = res || member.label?.toLowerCase().includes(query);
            res = res || member.id.toLowerCase().includes(query);
            res = res || member.email?.toLowerCase().includes(query);
            return res;
          });
        }
      }, 250);
    },
  },
};
</script>
<style>
.member-item {
  display: inline-flex;
}

.members {
  display: flex;
  justify-content: center;
}
</style>
