<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="col-12 card card-w-title">
    <EspaceActeList
      :workspaces="workspaces"
      @reload="loadWorkspaces"
      @newWorkspace="addWorkspaceToList"
      @updateNode="updateNode"
    />
  </div>
</template>
<script>
import {
  favoriteService,
  useConfigStore,
  workspaceService,
} from "@pristy/pristy-libvue";
import EspaceActeList from "@/components/EspaceActeList.vue";

export default {
  components: { EspaceActeList },
  data() {
    return {
      workspaces: [],
    };
  },
  mounted() {
    const config = useConfigStore();
    window.document.title = `Gérer les espaces | ${config.APP_ROOT_TITLE}`;
    this.loadWorkspaces();
  },
  methods: {
    addWorkspaceToList(item) {
      let workspace = {
        guid: item.entry.id,
        id: item.entry.id,
        name: item.entry.name,
        description: item.entry.properties["cm:description"],
        role: "SiteManager",
        title: item.entry.name,
        properties: item.entry.properties,
        aspectNames: item.entry.aspectNames,
        visibility: "PRIVATE",
        isFavorite: true,
      };
      this.workspaces.push(workspace);
    },
    updateNode(node, name, description) {
      let index = this.workspaces.findIndex((x) => x.name === node.name);
      this.workspaces[index].name = name;
      this.workspaces[index].properties["cm:description"] = description;
    },
    loadWorkspaces() {
      let getWorkspacesPromise = workspaceService.getWorkspaces();
      let searchAllWorkspacesPromise = workspaceService.searchAllWorkspaces(
        "AND pm:typeEspace:'actes'",
      );
      let promiseAll = Promise.all([
        getWorkspacesPromise,
        searchAllWorkspacesPromise,
      ]);
      promiseAll
        .then((values) => {
          const mergedList = values[0].map((t1) => ({
            ...t1,
            ...values[1].find((t2) => t2.id === t1.guid),
          }));
          this.workspaces = mergedList.filter(
            (workspace) => workspace.typeEspace === "actes",
          );
          return favoriteService.getFavorites("site");
        })
        .then((favWorkspaces) => {
          this.workspaces.forEach((workspace) => {
            let isFavorite = favWorkspaces.find(
              (favorite) => favorite.target.site.guid === workspace.id,
            );
            workspace.isFavorite = !!isFavorite;
          });
        });
    },
  },
};
</script>
<style scoped lang="scss">
::v-deep(.p-datatable-frozen-tbody) {
  font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
  font-weight: bold;
}
</style>
