<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="grid justify-content-center p-2 lg:p-0 login-grid">
      <div class="col-12 xl:col-6">
        <div class="h-full w-full m-0 py-7 px-4 login-card">
          <div class="text-center mb-5">
            <div id="loginLogo" class="mb-3 inline-block"></div>
            <i
              class="ri-information-line text-300"
              v-tooltip.bottom="`Pristy Actes v.${version}`"
            />
            <div class="text-900 text-3xl font-medium mb-3">Bienvenue !</div>
          </div>
          <div class="w-full md:w-10 mx-auto">
            <router-link to="/consultations">
              <Button
                label="Consulter les Actes Administratifs"
                class="w-full p-3 text-xl"
                severity="primary"
              />
            </router-link>
          </div>
          <div class="w-full pb-4 pt-4">
            <Divider layout="horizontal" class="flex" align="center" />
          </div>
          <Message v-if="loginError" severity="error" :closable="false">{{
            this.failLoginMessage
          }}</Message>
          <div class="text-center w-full pb-4 mx-auto">
            <span class="text-600 font-medium text-xl"
              >Accès Administrateur</span
            >
          </div>

          <div class="w-full md:w-10 mx-auto">
            <label for="email1" class="block text-900 text-xl font-medium mb-2"
              >Identifiant de l'Utilisateur</label
            >
            <InputText
              id="email"
              v-model="email"
              type="text"
              placeholder="Identifiant"
              class="w-full mb-3 p-3"
              @keyup.enter="login"
            />

            <label
              for="password"
              class="block text-900 font-medium text-xl mb-2"
              >Mot de passe</label
            >
            <Password
              id="password"
              v-model="password"
              placeholder="Password"
              class="w-full mb-3"
              inputClass="w-full p-3"
              :feedback="false"
              @keyup.enter="login"
            />
            <div class="w-full mb-3 flex justify-content-end flex-wrap">
              <a
                class="cursor-pointer no-underline hover:underline"
                @click="goToForgotPasswordPage"
                >Mot de passe oublié ?</a
              >
            </div>
            <Button
              label="Connecter"
              class="w-full p-3 text-xl"
              @click="login"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { version } from "../../package.json";
import { useConfigStore, useUserStore } from "@pristy/pristy-libvue";
import { mapState } from "pinia";

export default {
  data() {
    return {
      email: "",
      password: "",
      checked: false,
      loginError: false,
      failLoginMessage: null,
    };
  },
  methods: {
    goToForgotPasswordPage() {
      window.location.href = `${this.PORTAIL_HOST}/portail/forgot-password?from=${window.location.href}`;
    },
    login() {
      const user = useUserStore();
      user
        .login(this.email, this.password)
        .then((data) => {
          if (data === false) {
            throw new Error(
              "Le champ ID et le mot de passe ne peuvent pas être vide",
            );
          }
          if (typeof this.$route.query?.target == "undefined") {
            this.$router.push("/");
          }
          this.$router.push(this.$route.query.target);
        })
        .catch((err) => {
          this.loginError = true;
          this.failLoginMessage = err.message;
        });
    },
  },
  computed: {
    version() {
      return version;
    },
    ...mapState(useConfigStore, ["PORTAIL_HOST"]),
  },
};
</script>
<style scoped>
#loginLogo {
  background-position: center;
  background-size: contain;
  width: 14rem;
  height: 14rem;
  background-repeat: no-repeat;
  background-image: url("/images/pristy/logo-pristy-square.svg");
}

.forgotten-password {
  color: var(--primary-color);
}

.login-card {
  border-radius: 53px;
  background: var(--surface-100);
}

.login-grid {
  min-width: 80%;
}
</style>
