<template>
  <ErrorComponent :errorNb="errorNb" />
</template>

<script>
import ErrorComponent from "@/components/ErrorComponent.vue";

export default {
  name: "NotFoundPages",
  data() {
    return {
      errorNb: "404",
    };
  },
  components: { ErrorComponent },
};
</script>
