<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <BreadCrumbAlfresco
    v-if="$route.meta.withBreadcrumb && node"
    :currentNode="node"
    :isInSearch="false"
  />

  <div class="flex">
    <div
      class="flex-grow-1 overflow-scroll"
      style="height: calc(100vh - 8.5rem)"
    >
      <VuePDFjs
        :pdfpath="url"
        :node="node"
        v-if="node"
        @changeSplitterDisplay="changeSplitterDisplay"
      />
      <div
        class="card"
        style="min-height: 60rem"
        v-for="anx in acteAnnexes"
        :key="anx.id"
      >
        <VuePDFjs
          :pdfpath="alfrescoFileService().getContentUrl(anx.id)"
          :node="anx"
        />
      </div>
    </div>
    <div
      :class="{ hidden: isSplitterDisplayed }"
      class="card p-1 flex-grow-0"
      v-if="!isPublicUser"
    >
      <ZoneInformation
        v-if="node"
        :node="node"
        @close="changeSplitterDisplay"
      />
    </div>
  </div>
</template>

<script>
import {
  alfrescoFileService,
  alfrescoNodeService,
} from "@pristy/pristy-libvue";
import delibService from "@/services/DelibService";
import VuePDFjs from "@/components/PdfPageVuePDFjs.vue";
import ZoneInformation from "@/components/ZoneInformation.vue";
import BreadCrumbAlfresco from "@/components/BreadCrumbAlfresco.vue";

export default {
  name: "PdfPage",
  props: {
    withBreadcrumb: {
      type: Boolean,
      default: true,
    },
  },
  components: {
    VuePDFjs,
    ZoneInformation,
    BreadCrumbAlfresco,
  },
  data() {
    return {
      node: null,
      url: null,
      hasAnnexes: false,
      acteAnnexes: null,
      isSplitterDisplayed: true,
    };
  },

  created() {
    if (localStorage.getItem("splitter.display")) {
      this.isSplitterDisplayed = JSON.parse(
        localStorage.getItem("splitter.display"),
      );
    } else {
      localStorage.setItem("splitter.display", this.isSplitterDisplayed);
    }
  },

  mounted() {
    let pageName = this.$route.name;
    alfrescoNodeService
      .getNode(this.paramId)
      .then((_node) => {
        if (_node.nodeType === "am:annexeConstitutive") {
          alfrescoNodeService
            .getNode(_node.parentId)
            .then((_node) => {
              this.node = _node;
              this.url = alfrescoFileService.getContentUrl(_node.id);
              this.$router.replace({
                name: pageName,
                params: {
                  id: _node.parentId,
                  espace_id: this.paramEspaceId,
                },
              });
            })
            .catch((error) => {
              // TODO information Utilisateur
              console.error("getSeanceDelib", error);
            });
        } else {
          this.url = alfrescoFileService.getContentUrl(_node.id);
          this.node = _node;
        }
      })
      .catch((message) => {
        this.$toast.add({
          severity: "error",
          summary: "Erreur lors du chargement",
          detail: message,
          life: 3000,
        });
      });
  },
  methods: {
    alfrescoFileService() {
      return alfrescoFileService;
    },
    changeSplitterDisplay() {
      this.isSplitterDisplayed = !this.isSplitterDisplayed;
      localStorage.setItem("splitter.display", this.isSplitterDisplayed);
    },
  },
  computed: {
    isPublicUser() {
      const userProfile = localStorage.getItem("ACS_USERNAME");
      return userProfile != null && userProfile.startsWith("user_publication_");
    },
    paramId() {
      return this.$route.params?.id || "";
    },
    paramEspaceId() {
      return this.$route.params?.espace_id || "";
    },
  },
  watch: {
    node() {
      if (this.node) {
        window.document.title = `${this.node.name} | Pristy Actes Administratifs`;
        delibService.getActeAnnexes(this.node.id).then((annexes) => {
          this.acteAnnexes = annexes;
          this.hasAnnexes = this.acteAnnexes.length > 0;
        });
      }
    },
  },
};
</script>
