<!--
  Copyright (C) 2013-2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div>
    <Toast />
    <div class="layout-main-container public-page">
      <div class="header">
        <div class="header-layout">
          <div class="layout-logo" />
          <h1 class="layout-title">{{ titlePage }}</h1>
        </div>
      </div>
      <div class="layout-main">
        <DataView v-if="workspaces" :value="workspaces">
          <template #empty>
            <p>Aucun dossier présent.</p>
          </template>
          <template #list="{ items }">
            <div class="grid grid-nogutter">
              <div
                v-for="(workspace, index) in items"
                :key="index"
                class="surface-card shadow-2 p-3 border-round workspace-card"
              >
                <div class="card-top">
                  <div class="card-text">
                    <router-link
                      class="card-title font-medium mb-2"
                      :to="toEspaceActeVue(workspace)"
                      v-tooltip="workspace.name"
                    >
                      {{ workspace.title }}
                    </router-link>
                    <p>{{ workspace.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </DataView>
      </div>
      <AppFooter />
    </div>
  </div>
</template>

<script>
import { webscriptApi, useConfigStore } from "@pristy/pristy-libvue";
import AppFooter from "@/AppFooter.vue";

export default {
  components: { AppFooter },
  data() {
    return {
      workspaces: null,
    };
  },
  created() {
    webscriptApi
      .executeWebScript("GET", "fr/jeci/pristy/actes/espaces")
      .then((rep) => {
        this.workspaces = rep.espaces.sort((a, b) => {
          let aName = a.title ? a.title : a.name;
          let bName = b.title ? b.title : b.name;

          return aName.localeCompare(bName, "fr", { ignorePunctuation: true });
        });
      });
  },
  methods: {
    toEspaceActeVue(workspace) {
      return {
        name: "pub-consultation-actes",
        params: {
          espace_id: workspace.name,
        },
      };
    },
  },
  computed: {
    titlePage() {
      const config = useConfigStore();
      return config.APP_ROOT_TITLE;
    },
  },
};
</script>

<style lang="scss">
@import "../PubPage.scss";
</style>

<style lang="scss" scoped>
.layout-main {
  margin: 3rem;
}
</style>
