<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <Message severity="info" v-if="!isPublicUser">{{ infoUser }}</Message>
  <RechercheSeance v-if="!hasSearchInput" @changeSeance="updateSearchActes" />
  <div class="card public-consultation-card">
    <div>
      <RechercheDelib
        :seance="currentSeance"
        :year="chosenYear"
        :title="textSearchResultat"
      />
    </div>
  </div>
</template>

<script>
import RechercheDelib from "@/components/RechercheDelib.vue";
import RechercheSeance from "@/components/RechercheSeance.vue";
import delibService from "@/services/DelibService";

export default {
  data() {
    return {
      currentSeance: null,
      chosenYear: null,
      hasSeance: false,
    };
  },
  components: {
    RechercheDelib,
    RechercheSeance,
  },
  created() {
    delibService
      .searchSeances(this.$route.params.espace_id)
      .then((data) => {
        this.hasSeance = data.length !== 0;
      })
      .catch((err) => {
        // TODO Information utilisateur
        console.error(err);
      });
  },
  methods: {
    updateSearchActes(seanceId, year) {
      this.currentSeance = seanceId;
      this.chosenYear = year;
    },
  },

  computed: {
    isPublicUser() {
      const userProfile = localStorage.getItem("ACS_USERNAME");
      return userProfile != null && userProfile.startsWith("user_publication_");
    },
    infoUser() {
      const userProfile = localStorage.getItem("ACS_USERNAME");
      return `Vous êtes connecté avec le compte ${userProfile}, en conséquence vous pouvez voir les Actes Individuels`;
    },
    querySearch() {
      return this.$route.query.search || "";
    },
    hasSearchInput() {
      return this.$route.query.search && this.$route.query.search !== "";
    },
    textSearchResultat() {
      if (this.hasSearchInput) {
        return `Résultats de la recherche ''${this.querySearch}''`;
      } else {
        return "Les Actes";
      }
    },
  },
};
</script>
