<!--
Copyright (C) 2022 - Jeci SARL - https://jeci.fr

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div v-if="deliberations && deliberations.length > 0">
    <div v-if="pagination && !hasSelectedNodes" class="nbrOfSearchResult">
      <div v-if="pagination.totalItems === deliberations.length">
        Affichage de {{ pagination.count }} éléments sur
        {{ pagination.totalItems }}.
      </div>
      <div v-else>
        Affichage de {{ deliberations.length }} éléments sur
        {{ deliberations.length }}.
      </div>
    </div>
    <div
      v-else-if="
        hasSelectedNodes &&
        !hasCurrentPageAllElementsSelected &&
        !isRemoveSelectionDisplayed
      "
      class="nbrOfSearchResult"
    >
      <div v-if="pagination.totalItems === deliberations.length">
        Sélection de {{ selectionStore.nodes.length }} éléments sur
        {{ pagination.totalItems }}.
      </div>
      <div v-else>
        Sélection de {{ selectionStore.nodes.length }} éléments sur
        {{ deliberations.length }}.
      </div>
    </div>
    <div
      v-else-if="hasSelectedNodes && hasCurrentPageAllElementsSelected"
      class="selectOrDeleteDiv"
    >
      <div v-if="pagination.totalItems === deliberations.length">
        <span class="ml-2 flex">
          Sélection de {{ selectionStore.nodes.length }} éléments sur
          {{ pagination.totalItems }}.
          <p class="font-bold cursor-pointer ml-2" @click="selectAllNodes()">
            Sélectionner les {{ pagination.totalItems }} éléments présents dans
            cet emplacement.
          </p>
        </span>
      </div>
      <div v-else>
        <span class="ml-2 flex">
          Sélection de {{ selectionStore.nodes.length }} éléments sur
          {{ deliberations.length }}.
          <p class="font-bold cursor-pointer ml-2" @click="selectAllNodes()">
            Sélectionner les {{ deliberations.length }} éléments présents dans
            cet emplacement.
          </p>
        </span>
      </div>
    </div>
    <div
      v-else-if="hasSelectedNodes && isRemoveSelectionDisplayed"
      class="selectOrDeleteDiv"
    >
      <div v-if="pagination.totalItems === deliberations.length">
        <span class="ml-2 flex">
          Sélection de {{ selectionStore.nodes.length }} éléments sur
          {{ pagination.totalItems }}.
          <p class="font-bold cursor-pointer ml-2" @click="deleteSelection()">
            Effacer la sélection
          </p>
        </span>
      </div>
      <div v-else>
        <span class="ml-2 flex">
          Sélection de {{ selectionStore.nodes.length }} éléments sur
          {{ deliberations.length }}.
          <p class="font-bold cursor-pointer ml-2" @click="deleteSelection()">
            Effacer la sélection
          </p>
        </span>
      </div>
    </div>
  </div>
  <DataTable
    v-if="deliberations"
    :value="deliberations"
    paginator
    :rows="10"
    rowHover
    stateStorage="local"
    :stateKey="`datatable-acte-datatable-list--${currentNode.id}`"
    :dataKey="currentNode.id"
    :key="currentNode.id"
    v-model:filters="filters"
    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
    currentPageReportTemplate="({currentPage} sur {totalPages})"
    :rowsPerPageOptions="[5, 10, 25]"
    responsiveLayout="scroll"
    :globalFilterFields="['name']"
    removableSort
  >
    <template #header>
      <div
        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
      >
        <h3 v-if="isSeance" class="m-0">Actes de la {{ seanceName }}</h3>
        <h3 v-else class="m-0">Actes Administratifs</h3>
        <IconField iconPosition="left" class="block ml-5 searchSpan">
          <InputIcon class="ri-search-line" />
          <InputText
            class="searchButton"
            v-model="filters['global'].value"
            placeholder="Filtrer..."
          />
        </IconField>
        <div class="col right">
          <ZoneSelection @reload="$emit('reload')" @remove-node="removeNode" />
          <Button
            v-if="canImport"
            type="button"
            label="Importer des actes"
            icon="ri-add-line"
            @click="toggleImportPopup"
            style="width: auto"
          />
        </div>
        <div class="mobile_zone">
          <ZoneSelection @reload="$emit('reload')" @remove-node="removeNode" />
        </div>
      </div>
    </template>
    <template #empty v-if="isSeance">
      Aucun acte importé dans la {{ seanceName }}
    </template>
    <template #empty v-else>
      Aucun acte importé en dehors des séances.
    </template>
    <Column v-if="deliberations && deliberations.length > 0">
      <template #header>
        <CheckBox
          :binary="true"
          v-model="isPageSelected"
          @change="updatePageSelectedNodes"
        />
      </template>
      <template #body="slotProps">
        <CheckBox
          :id="slotProps.data.id"
          name="option"
          :value="slotProps.data"
          v-model="selectedNodes"
          @change="updateSelectedNodes"
        />
      </template>
    </Column>
    <Column header="Vignette">
      <template #body="slotProps">
        <Image class="shadow-2" width="40" preview>
          <template #image>
            <img
              :src="alfrescoFileService().getThumbnailUrl(slotProps.data.id)"
              :alt="slotProps.data.name"
              @error="onImageLoadFailure($event, slotProps.data)"
            />
          </template>
          <template #preview>
            <img
              :src="alfrescoFileService().getPreviewUrl(slotProps.data.id)"
              :alt="slotProps.data.name"
            />
          </template>
        </Image>
        <PristyIcon
          class="icone"
          hidden
          svgFileName="mimetype_pdf"
          v-tooltip="`Acte Administratif`"
        />
      </template>
    </Column>
    <Column
      v-if="!webdelib"
      field="name"
      header="Nom"
      sortable
      style="min-width: 12rem"
    >
      <template #body="slotProps">
        <div class="file-items">
          <router-link :to="togglePdfVue(slotProps.data)">
            {{ slotProps.data.name }}
          </router-link>
        </div>
      </template>
    </Column>
    <Column
      v-if="webdelib"
      field="name"
      header="Titre"
      sortable
      style="min-width: 12rem"
    >
      <template #body="slotProps">
        <div class="file-items">
          <router-link :to="togglePdfVue(slotProps.data)">
            {{ slotProps.data.properties["cm:title"] }}
          </router-link>
        </div>
      </template>
    </Column>
    <Column v-if="webdelib" field="libelleCodeActe" header="Code Acte" sortable>
      <template #body="slotProps">
        {{ slotProps.data?.properties["am:codeActe"] }} -
        {{ slotProps.data?.properties["am:libelleCodeActe"] }}
      </template>
    </Column>
    <Column v-if="!webdelib" field="version" header="Ver.">
      <template #body="slotProps">
        {{ slotProps.data?.properties?.["cm:versionLabel"] }}
      </template>
    </Column>
    <Column header="Nature" field="typeActe" sortable>
      <template #body="slotProps">
        <span
          :class="`role-typeActe role-${
            slotProps.data.typeActe ? slotProps.data.typeActe : ''
          }`"
          v-tooltip="findNature(slotProps.data.typeActe).label"
          >{{ slotProps.data.typeActe }}</span
        >
      </template>
    </Column>
    <Column
      v-if="!webdelib"
      field="content.sizeInBytes"
      header="Taille"
      sortable
    >
      <template #body="slotProps">
        {{ convertBytesToSize(slotProps.data.content) }}
      </template>
    </Column>
    <Column field="dateActe" header="Date Acte" :sortable="true">
      <template #body="slotProps">
        {{ printDateActe(slotProps.data) }}
      </template>
    </Column>
    <Column field="datePublication" header="Publié le" sortable>
      <template #body="slotProps">
        <p v-if="isPublicating(slotProps.data)">
          {{ statusPublication(slotProps.data) }}
        </p>
        <Button
          v-else
          class="published-button"
          label="Publier"
          @click="publishActe(slotProps.data)"
        />
      </template>
    </Column>
    <Column header="Ann.">
      <template #body="slotProps">
        <i v-if="slotProps.data.hasAnnexes" class="pi pi-paperclip" />
      </template>
    </Column>
    <Column>
      <template #body="slotProps">
        <div class="datatable-buttons">
          <div v-if="slotProps.data.hasAnnexes">
            <Menu ref="downloadMenu" :model="downloadMenuItems" :popup="true" />
            <Button
              class="mr-1"
              severity="secondary"
              icon="ri-download-line"
              @click="toggleDownloadMenu($event, slotProps.data)"
            />
          </div>
          <div v-else>
            <Button
              icon="ri-download-line"
              class="mr-1"
              severity="secondary"
              @click="downloadContent(slotProps.data)"
            />
          </div>
          <Button
            icon="ri-links-line"
            severity="warning"
            class="mr-1"
            @click="toggleShareLinkPopup(slotProps.data)"
          />
          <Button
            icon="ri-edit-line"
            severity="success"
            class="mr-1"
            @click="toggleModifyDelibPopup(slotProps.data)"
          />
          <Button
            icon="ri-delete-bin-line"
            severity="danger"
            @click="openConfirmDeleteNode(slotProps.data, false)"
          />
        </div>
      </template>
    </Column>
    <template #paginatorstart>
      <Button type="button" icon="ri-refresh-line" @click="loadData()" text />
    </template>
  </DataTable>
  <Dialog
    header="Suppression"
    v-model:visible="deleteConfirmation"
    modal
    class="popup"
  >
    <div class="field grid block">
      <p>Voulez vous supprimer "{{ nodeToDelete.name }}" ?</p>
      <p v-if="nodeIsAnnexe">Le lien sera supprimé en même temps.</p>
    </div>
    <template #footer>
      <Button label="Non" @click="toggleCloseDialog" severity="secondary" />
      <Button label="Oui" @click="deleteNode('fichier')" />
    </template>
  </Dialog>
  <ImportActePopup
    title="Import d'acte(s)"
    :display="importActeDialog"
    :currentNodeId="importNodeId"
    :isSeance="isSeance"
    nodeType="am:documentActe"
    @changeDisplay="changeActeDisplay"
    @newNode="newActe"
  />
  <ShareLinkPopup
    v-if="popup === 'SHARELINK'"
    :currentNode="actionNode"
    @close="closePopup"
  />
  <ModifyDelibPopup
    v-if="popup === 'MODIFYNODE'"
    @close="closePopup"
    @reload="loadData()"
  />
</template>
<script>
import axios from "axios";
import { FilterMatchMode } from "primevue/api";
import naturesActes from "@/assets/actes/natures.json";
import ImportActePopup from "@/components/popup/ImportActePopup.vue";
import ShareLinkPopup from "@/components/popup/ShareLinkPopup.vue";
import delibService from "@/services/DelibService";
import {
  alfrescoFileService,
  alfrescoNodeService,
  PristyIcon,
  useConfigStore,
  useNavigationStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import ZoneSelection from "@/components/ZoneSelection.vue";
import ModifyDelibPopup from "@/components/popup/ModifyDelibPopup.vue";
import { mapState } from "pinia";

function mapActe(data) {
  let acte = data.entry;
  acte.typeActe = data.entry.properties["am:typeActe"];
  acte.libelleCodeActe = data.entry.properties?.["am:libelleCodeActe"] || "";
  acte.datePublication = data.entry.properties?.["am:datePublication"] || "";
  acte.dateActe = data.entry.properties?.["am:dateActe"] || "";
  return acte;
}

export default {
  emits: ["reload"],
  data() {
    return {
      actionNode: null,
      deliberations: null,
      filters: null,
      seanceName: null,
      delibUuid: null,
      dateActe: null,
      acteAnnexes: null,
      deleteConfirmation: false,
      nodeToDelete: null,
      nodeIsAnnexe: false,
      listTypeActe: naturesActes,
      canUpload: true,
      hasAnnexes: false,
      downloadMenuItems: [],
      importActeDialog: false,
      canImport: false,
      currentActeAnnexes: null,
      webdelib: false,
      importNodeId: null,
      config: null,
      selectedNodes: [],
      popup: null,
      hasCurrentPageAllElementsSelected: false,
      isRemoveSelectionDisplayed: false,
      selectionStore: null,
      isPageSelected: false,
    };
  },
  components: {
    ModifyDelibPopup,
    ZoneSelection,
    ImportActePopup,
    PristyIcon,
    ShareLinkPopup,
  },
  name: "ActeDatatable",
  props: {
    isSeance: Boolean,
    workspace: null,
  },
  created() {
    this.initFilters();
    if (this.paramSeance && this.isSeance) {
      this.getSeanceName();
    }

    this.navigationStore = useNavigationStore();
    this.canUpload =
      this.currentNode?.allowableOperations.includes("create") ||
      this.workspace.role !== "SiteConsumer";
    this.loadCanImport(this.workspace);
    this.loadData();
  },
  mounted() {
    this.webdelib = useConfigStore().WEBDELIB;
    this.selectionStore = useSelectionStore();
    this.selectedNodes = this.selectionStore.nodes;
    this.selectionStore.$subscribe((mutation, state) => {
      this.selectedNodes = state.nodes;
    });
  },
  methods: {
    removeNode(nodesToRemove) {
      this.deliberations = this.deliberations.filter((deliberation) => {
        return !nodesToRemove.some((nodeToRemove) => {
          const nodeToRemoveValues = Object.values(nodeToRemove);
          const deliberationValues = Object.values(deliberation);
          return nodeToRemoveValues.every((value) =>
            deliberationValues.includes(value),
          );
        });
      });
    },
    deleteSelection() {
      this.selectionStore.resetSelection();
      this.hasCurrentPageAllElementsSelected = false;
      this.isRemoveSelectionDisplayed = false;
      this.isPageSelected = false;
    },
    selectAllNodes() {
      this.selectionStore.selectNodes([...this.deliberations]);
      this.hasCurrentPageAllElementsSelected = false;
      this.isRemoveSelectionDisplayed = true;
    },
    updatePageSelectedNodes() {
      if (this.isPageSelected) {
        const storedDataString = localStorage.getItem(
          `datatable-acte-datatable-list--${this.navigationStore.currentNode.id}`,
        );
        const storedData = JSON.parse(storedDataString);
        const numberOfRows = storedData.rows;
        const first = storedData.first || 0;
        if (first === 0) {
          this.selectedNodes = this.deliberations.slice(0, numberOfRows);
        } else {
          const startIndex = first % this.deliberations.length;
          this.selectedNodes = this.deliberations.slice(
            startIndex,
            startIndex + numberOfRows,
          );
        }
        this.selectionStore.selectNodes(this.selectedNodes);
        this.hasCurrentPageAllElementsSelected = true;
      } else {
        this.selectionStore.resetSelection();
      }
    },
    togglePdfVue(data) {
      return {
        name: "consultation-pdf",
        params: { id: data.id },
      };
    },
    closePopup(reload) {
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    alfrescoFileService() {
      return alfrescoFileService;
    },
    newActe(items) {
      items.map((newItem) => {
        let acte = newItem.entry;
        acte.typeActe = newItem.entry.properties["am:typeActe"];
        this.deliberations.push(acte);
      });
    },
    changeActeDisplay() {
      this.importActeDialog = !this.importActeDialog;
    },
    toggleModifyDelibPopup(node) {
      this.selectionStore.selectSingleNode(node);
      if (node) {
        this.popup = "MODIFYNODE";
      }
    },
    toggleShareLinkPopup(node) {
      this.actionNode = node;
      this.popup = "SHARELINK";
    },
    toggleImportPopup() {
      this.importActeDialog = true;
    },
    getSeanceName() {
      let title = this.currentNode.properties["cm:title"];
      this.seanceName = title;
      window.document.title = `${title} | Pristy Actes administratifs`;
    },
    loadData() {
      if (this.isSeance) {
        this.importNodeId = this.paramSeance;
        delibService
          .getSeanceDelib(this.paramSeance)
          .then((data) => {
            this.deliberations = data.list.entries.map(mapActe);
            this.deliberations = this.mapHasAnnexes(this.deliberations);
          })
          .catch((error) => {
            console.error("getSeanceDelib", error);
          });
      } else {
        this.importNodeId = this.paramId;
        delibService
          .searchActes(this.paramId)
          .then((data) => {
            return data.list.entries.map((data) => data.entry);
          })
          .then((actes) => {
            this.deliberations = [];
            actes.map((acte) => {
              acte.typeActe = acte.properties["am:typeActe"];
              acte.datePublication = acte.properties["am:datePublication"];
              acte.dateActe = acte.properties?.["am:dateActe"] || "";
              this.deliberations.push(acte);
            });
            this.deliberations = this.mapHasAnnexes(this.deliberations);
          })
          .catch((error) => {
            // TODO Information utilisateur
            console.error("searchActes", error);
          });
      }
    },
    loadCanImport(workspace) {
      this.canImport =
        workspace.role === "SiteManager" ||
        workspace.role === "SiteCollaborator";
    },
    mapHasAnnexes(array) {
      array.forEach((acte) => {
        delibService.getActeAnnexes(acte.id).then((annexes) => {
          acte.hasAnnexes = annexes.length > 0;
        });
      });
      return array;
    },
    downloadContent(node) {
      let url = alfrescoFileService.getContentUrl(node.id);
      axios
        .get(url, { responseType: "blob" })
        .then((response) => {
          const blob = new Blob([response.data], { type: "application/pdf" });
          const link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          link.download = node.name;
          link.click();
          URL.revokeObjectURL(link.href);
        })
        .catch(console.error);
    },
    initFilters() {
      this.filters = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
    convertBytesToSize(content) {
      if (!content) {
        return "n/a";
      }
      let bytes = content.sizeInBytes;
      let sizes = ["B", "KB", "MB", "GB", "TB"];
      if (bytes === 0) return "0 B";
      let i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
      return Math.round(bytes / Math.pow(1024, i), 2) + " " + sizes[i];
    },
    annexeUploader(fileUploadUploaderEvent) {
      fileUploadUploaderEvent.files.forEach((file) => {
        console.log("Uploading... ", file);
        let opts = {
          name: file.name,
          nodeType: "am:annexeConstitutive",
          association: {
            assocType: "am:annexesConstitutives",
          },
        };

        alfrescoNodeService
          .createNode(this.delibUuid, opts)
          .then((annexe) => {
            return alfrescoNodeService.updateContentNode(annexe.entry.id, file);
          })
          .then((updatedAnnexe) => {
            this.acteAnnexes.push(updatedAnnexe.entry);
            this.$toast.add({
              severity: "success",
              summary: "Successful",
              detail: "Annexe ajoutée avec succès",
              life: 2000,
            });
          })
          .catch((message) => {
            this.$toast.add({
              severity: "error",
              summary: "Erreur lors de l'upload",
              detail: message,
              life: 3000,
            });
          });
      });
    },
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
    onImageLoadFailure(event, node) {
      event.target.parentElement.style.display = "none";
      event.target.parentElement.nextElementSibling.hidden = false;
      if (node && node.isFile && node.content.mimeType) {
        // TODO add if content.mimeType is supported ? "image/jpeg"
        return alfrescoFileService.createAllRendition(node.id).catch((err) => {
          console.warn(
            `createAllRendition error ${err.status} for ${node.id} mimeType=${node.content.mimeType}`,
          );
        });
      }
    },
    findNature(nature) {
      let type = this.listTypeActe.find((m) => m.type === nature);
      if (type) {
        return type;
      } else {
        return { label: "", type: "" };
      }
    },
    printDateActe(acte) {
      return "am:dateActe" in acte.properties
        ? this.toLocaleDateString(acte.properties["am:dateActe"])
        : "";
    },
    statusPublication(acte) {
      return "am:datePublication" in acte.properties
        ? this.toLocaleDateString(acte.properties["am:datePublication"])
        : "En cours de publication";
    },
    isPublicating(acte) {
      return (
        acte.properties?.["pk:topic"] || acte.properties?.["am:datePublication"]
      );
    },
    publishActe(acte) {
      acte.properties["pk:topic"] = "add-tampon-actes";
      delibService
        .publishDelib(acte.id)
        .then((node) => {
          console.log(`Publication en cours pour ${node.entry.name}`);
          this.$toast.add({
            severity: "success",
            summary: "Succès",
            detail: `Publication en cours pour ${node.entry.name}`,
            life: 3000,
          });
        })
        .catch((error) => {
          console.log(`Erreur de publication ${error}`);
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: `Publication en erreur : ${error}`,
            life: 3000,
          });
        });
    },
    openConfirmDeleteNode(node, isAnnexe) {
      this.nodeIsAnnexe = isAnnexe;
      this.nodeToDelete = node;
      this.deleteConfirmation = true;
    },
    deleteNode(type) {
      return alfrescoNodeService
        .deleteNode(this.nodeToDelete.id, type)
        .then(() => {
          this.loadData();
          if (this.acteAnnexes) {
            let index = this.acteAnnexes.indexOf(this.nodeToDelete.item);
            this.acteAnnexes.splice(index, 1);
          }
          this.deleteConfirmation = false;
          this.$toast.add({
            severity: "success",
            summary: "Succès",
            detail: type + " supprimé avec succès.",
            life: 3000,
          });
        })
        .catch((message) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur lors de la suppression",
            detail: message,
            life: 3000,
          });
        });
    },
    toggleDownloadMenu(event, item) {
      delibService.getActeAnnexes(item.id).then((annexes) => {
        this.currentActeAnnexes = annexes;
      });
      this.downloadMenuItems = [
        {
          label: `Acte ${item.name}`,
          icon: "ri-download-line",
          command: () => {
            this.downloadContent(item);
          },
        },
      ];
      this.$refs.downloadMenu.toggle(event);
    },
    toggleCloseDialog() {
      this.deleteConfirmation = false;
    },
    updateSelectedNodes() {
      this.selectionStore.selectNodes(this.selectedNodes);
    },
  },
  computed: {
    paramSeance() {
      return this.$route.params?.seance || "";
    },
    ...mapState(useNavigationStore, ["files", "pagination", "currentNode"]),
    hasSelectedNodes() {
      return useSelectionStore().nodes.length !== 0 && this.pagination;
    },
    paramId() {
      return this.$route.params.id;
    },
  },
  watch: {
    workspace(newWorkspace) {
      this.loadCanImport(newWorkspace);
      this.loadData();
    },
    currentActeAnnexes(newAnnexes) {
      newAnnexes.forEach((annexe) => {
        this.downloadMenuItems.push({
          label: `Annexe ${annexe.name}`,
          icon: "ri-file-4-line",
          command: () => {
            this.downloadContent(annexe);
          },
        });
      });
    },
  },
};
</script>
<style>
.selectOrDeleteDiv {
  flex-grow: 1;
  padding: 1.25rem 1.75rem;
  position: relative;
  border: solid var(--primary-color);
  border-width: 0 0 0 0.375rem;
  border-radius: 1rem;
}

.selectOrDeleteDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-900);
  opacity: 0.33;
  pointer-events: none;
  border-radius: 0.8rem;
}
.nbrOfSearchResult {
  font-weight: normal;
  margin-bottom: 1rem;
}
</style>
