<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <BreadCrumb :model="path">
    <template #item="{ item }">
      <router-link :to="item.to">
        <i v-if="item.nodeType === 'st:site'" class="ri-building-line icon" /><i
          v-else-if="item.nodeType === 'home'"
          class="ri-home-4-line icon"
        /><i v-else class="ri-folder-2-line icon" />
        {{ item.label }}
      </router-link>
    </template>
  </BreadCrumb>
</template>

<script>
import { useConfigStore, workspaceService } from "@pristy/pristy-libvue";

function isNodeIgnore(item) {
  return (
    item.nodeType !== "st:sites" &&
    item.nodeType !== "sys:container" &&
    item.nodeType !== "cm:person" &&
    item.nodeType !== "am:documentActe" &&
    item.name !== "Company Home" &&
    item.name !== "documentLibrary"
  );
}

export default {
  name: "BreadCrumbAlfresco",
  props: {
    currentNode: null,
    isWorkspace: {
      type: Boolean,
      default: false,
    },
    isInSearch: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["reload"],
  data() {
    return {
      path: [],
      workspaceName: null,
      breadCrumbNode: {},
      workspaceNode: null,
      tempAspectsName: null,
    };
  },
  mounted() {
    this.loadPath().then((path) => {
      this.path = path;
    });
  },
  methods: {
    workspaceRootPath() {
      const config = useConfigStore();
      return [
        {
          label: this.currentNode.title,
          to: `${config.BREADCRUMB_ROOT_URL}/${this.currentNode.id}`,
        },
      ];
    },
    loadPathItems(elements, workspaceName) {
      const config = useConfigStore();
      return workspaceService.getWorkspace(workspaceName).then((workspace) => {
        let items = elements.map((item) => {
          if (item.nodeType === "st:site") {
            item.to = `${config.BREADCRUMB_ROOT_URL}/${workspace.id}`;
            item.label = workspace.title;
          } else {
            item.to = `${config.BREADCRUMB_ROOT_URL}/${workspace.id}/${item.id}`;
            item.label = item.name;
          }
          return item;
        });
        items.push({
          label: this.currentNode.name,
          nodeType: this.currentNode.nodeType,
        });
        return items;
      });
    },
    async loadPath() {
      let breadcrumbItems = [];
      if (this.isWorkspace) {
        breadcrumbItems = this.workspaceRootPath();
      } else {
        // Remove Unwanted nodes
        let elements = this.currentNode.path.elements.filter(
          (item) =>
            (item.nodeType !== "st:sites" &&
              !item.aspectNames.find(
                (aspect) =>
                  aspect === "st:siteContainer" ||
                  aspect === "app:uifacets" ||
                  aspect === "pm:restrictedCreation",
              )) ||
            item.nodeType === "am:dossierSeance",
        );
        let siteNode = elements.find((item) => item.nodeType === "st:site");
        if (siteNode) {
          breadcrumbItems = await this.loadPathItems(elements, siteNode.name);
        } else {
          console.warn("No st:site Node in path");
        }
      }
      const path = breadcrumbItems.filter(isNodeIgnore).map((item) => {
        if (item.nodeType === "st:site") {
          item.isFolder = true;
          item.to = {
            name: "seances",
            params: { id: item.name },
          };

          this.workspaceName = item.name;
        } else if (
          this.workspaceName !== undefined &&
          this.workspaceName !== null
        ) {
          //item.isFolder = true;
          item.to = {
            name: "seance-actes",
            params: { id: this.workspaceName, seance: item.id },
          };
        } else {
          item.to = {};
        }
        return item;
      });
      path.unshift({
        nodeType: "home",
        to: {
          name: "mes-espaces-actes",
        },
      });
      return path;
    },
  },
  watch: {
    currentNode() {
      this.loadPath().then((path) => {
        this.path = path;
      });
    },
  },
};
</script>

<style lang="css">
.p-breadcrumb a {
  color: var(--surface-600);
}

.p-breadcrumb-list {
  flex-wrap: wrap;
}
</style>
