<!--
Copyright (C) 2022 - Jeci SARL - https://jeci.fr

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="header flex">
    <router-link :to="consultationPublicRoute">
      <div class="layout-logo" />
    </router-link>
    <div class="flex flex-column w-full">
      <div class="w-full">
        <router-link :to="pubConsultationActesRoute">
          <h1 class="layout-title">{{ title }} - Actes administratifs</h1>
        </router-link>
      </div>
      <div class="topbarElement w-full flex justify-content-left mb-2">
        <IconField iconPosition="left" class="flex-grow-1">
          <InputIcon class="ri-search-line" @click="search(this.searchInput)" />
          <InputText
            v-model="searchInput"
            @keyup.enter="search()"
            @change="search()"
            class="w-6 mr-2"
            :placeholder="`Rechercher un acte dans ${$route.params.espace_id}`"
          />
          <Button :label="`Rechercher`" @click="search()" class="mr-2" />
        </IconField>
        <router-link :to="{ name: 'consultation-public' }" class="mr-2">
          <Button label="Retour à tous les dossiers actes" />
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import { workspaceService } from "@pristy/pristy-libvue";

export default {
  data() {
    return {
      title: "",
      searchInput: "",
    };
  },
  name: "ConsultationHeader",
  mounted() {
    this.getWorkspaceName(this.paramEspaceId);
  },
  methods: {
    search() {
      if (this.searchInput === "") {
        this.$router.push({
          name: "pub-consultation-actes",
          espace_id: this.paramEspaceId,
        });
      } else {
        this.$router.push({
          name: "pub-consultation-actes",
          espace_id: this.paramEspaceId,
          query: {
            search: this.searchInput,
          },
        });
      }
    },
    getWorkspaceName(workspaceId) {
      return workspaceService.getWorkspace(workspaceId).then((workspace) => {
        this.title = workspace.title;
      });
    },
  },
  computed: {
    paramEspaceId() {
      return this.$route.params?.espace_id || "";
    },
    consultationPublicRoute() {
      return { name: "consultation-public" };
    },
    pubConsultationActesRoute() {
      return {
        name: `pub-consultation-actes`,
        params: { espace_id: this.$route.params?.espace_id },
      };
    },
  },
};
</script>
<style lang="css">
.topbarElement {
  gap: 1rem;
}
</style>
