<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="grid align">
    <div class="col">
      <BreadCrumbAlfresco
        v-if="currentNode"
        :currentNode="currentNode"
        :isInSearch="false"
      />
    </div>
  </div>
  <div class="card">
    <ActeDatatable
      v-if="workspace"
      :isSeance="true"
      :workspace="workspace"
      @reload="loadData()"
    />
  </div>
</template>

<script>
import delibService from "@/services/DelibService";
import { workspaceService } from "@pristy/pristy-libvue";
import naturesActes from "@/assets/actes/natures.json";
import ActeDatatable from "@/components/ActeDatatable.vue";
import BreadCrumbAlfresco from "@/components/BreadCrumbAlfresco.vue";

async function mapActe(data) {
  let acte = data.entry;
  acte.typeActe = data.entry.properties["am:typeActe"];
  await delibService.getActeAnnexes(acte.id).then((annexes) => {
    acte.hasAnnexes = annexes.length > 0;
  });
  return acte;
}

export default {
  components: {
    BreadCrumbAlfresco,
    ActeDatatable,
  },
  data() {
    return {
      workspace: null,
      deliberations: null,
      selectedDelib: null,
      delibTypeActe: null,
      listTypeActe: naturesActes,
      canUpload: true,
      breadcrumbItems: [],
      seanceName: null,
      currentNode: null,
    };
  },
  created() {
    workspaceService.getWorkspace(this.paramId).then((workspace) => {
      this.workspace = workspace;
      this.canUpload = workspace.role !== "SiteConsumer";
    });
    delibService.getNode(this.paramSeance).then((data) => {
      this.currentNode = data.entry;
      this.getSeanceName();
    });
    delibService
      .getSeanceDelib(this.paramSeance)
      .then((data) => {
        this.deliberations = data.list.entries.map(mapActe);
      })
      .catch((error) => {
        // TODO information Utilisateur
        console.error("getSeanceName", error);
      });
  },
  mounted() {
    this.loadData();
  },
  methods: {
    getSeanceName() {
      let title = this.currentNode?.properties["cm:title"] || "";
      this.seanceName = title;
      window.document.title = `${title} | Pristy Actes administratifs`;
    },
    loadData() {
      delibService
        .getSeanceDelib(this.paramSeance)
        .then((data) => {
          this.deliberations = data.list.entries.map(mapActe);
        })
        .catch((error) => {
          // TODO information Utilisateur
          console.error("getSeanceDelib", error);
        });
    },
  },
  computed: {
    paramId() {
      return this.$route.params?.id || "";
    },
    paramSeance() {
      return this.$route.params?.seance || "";
    },
  },
};
</script>
