<template>
  <div class="container">
    <div class="card custom-card">
      <h2 class="text-center custom-title" id="numError">{{ errorNb }}</h2>
      <img
        class="card-img-top"
        :src="WIPImage()"
        alt="user header"
        style="width: 100%"
        v-tooltip="`www.vecteezy.com`"
      />
      <div class="card-body">
        <p class="card-text custom-card-title">
          {{ title }}
        </p>
        <p class="card-text custom-card-subtitle">
          {{ subtitle }}
        </p>
        <Button
          icon="ri-corner-down-left-line"
          label="RETOUR A LA PAGE D'ACCUEIL"
          class="w-full font-weight-bold"
          @click="click"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { useConfigStore } from "@pristy/pristy-libvue";

export default {
  name: "ErrorComponent",
  props: {
    errorNb: null,
  },
  data() {
    return {
      title: "",
      subtitle: "",
    };
  },
  created() {
    this.title = "Il n'y a absolument rien ici...";
    this.subtitle =
      "...peut-être que la page que vous cherchez n'a pas été trouvée ou n'a jamais existée...";
  },
  methods: {
    click() {
      this.$router.push({
        name: "welcome",
      });
    },
    WIPImage() {
      const config = useConfigStore();
      return `${config.APP_ROOT}images/pristy/AngryCat.jpg`;
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.custom-card {
  max-width: 25rem;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-card-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 15px;
}
</style>
