<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="grid align">
    <div class="col">
      <h3>Mes Espaces Actes</h3>
    </div>
    <div class="col right">
      <Button
        class="classic_button"
        type="button"
        icon="ri-add-line"
        label="Créer un nouvel espace"
        @click="toggleCreateEspaceActe"
      />
      <Button
        class="mobile_button"
        type="button"
        icon="ri-add-line"
        @click="toggleCreateEspaceActe"
        rounded
      />
    </div>
  </div>
  <DataView
    :value="workspaces"
    layout="grid"
    paginator
    :rows="12"
    :rowsPerPageOptions="[6, 12, 24]"
  >
    <template #grid="{ items }">
      <div class="grid grid-nogutter">
        <div
          v-for="(workspace, index) in items"
          :key="index"
          class="shadow-2 p-3 border-round workspace-card"
        >
          <div class="card-top">
            <div class="card-text">
              <span
                class="card-title font-medium mb-2"
                @click="gotoEspaceActeVue(workspace)"
                v-tooltip="workspace.title"
              >
                {{ workspace.title }}
              </span>
              <p>{{ workspace.properties?.["cm:description"] }}</p>
            </div>
            <div class="flex-grow-0">
              <Menu
                id="workspaceMenuAction_menu"
                ref="workspaceMenuAction"
                :model="actesActionMenuItems"
                :popup="true"
              />
              <Button
                type="button"
                icon="ri-more-2-line"
                v-tooltip="`Plus d'actions`"
                @click="toggleEspaceActeActionMenu($event, workspace)"
                text
                aria-haspopup="true"
                aria-controls="workspaceMenuAction_menu"
              />
            </div>
          </div>
          <div class="card-bottom">
            <span
              :class="`role-badge role-${
                workspace.role ? workspace.role.toLowerCase() : ''
              }`"
              >{{ getReadableRole(workspace.role) }}</span
            >
          </div>
        </div>
      </div>
    </template>
  </DataView>
  <NewEspaceActePopup
    :display="newWorkspaceDialog"
    @changeDisplay="changeNewDisplay"
    @newNode="newWorkspace"
  >
  </NewEspaceActePopup>
  <ModifyEspaceActePopup
    v-if="modifyWorkspaceItem && modifyWorkspaceDialog"
    :display="modifyWorkspaceDialog"
    :workspace="modifyWorkspaceItem"
    @changeDisplay="changeModifyDisplay"
    @updateNode="updateNode"
  >
  </ModifyEspaceActePopup>
</template>

<script>
import { workspaceService } from "@pristy/pristy-libvue";
import ModifyEspaceActePopup from "@/components/popup/ModifyEspaceActePopup.vue";
import NewEspaceActePopup from "@/components/popup/NewEspaceActePopup.vue";

export default {
  name: "WorkspaceList",
  components: { ModifyEspaceActePopup, NewEspaceActePopup },
  props: {
    workspaces: Array,
  },
  emits: ["reload", "changeDisplay", "newWorkspace", "updateNode"],
  data() {
    return {
      redirectToMembers: false,
      newWorkspaceDialog: false,
      modifyWorkspaceDialog: false,
      modifyWorkspaceItem: null,
      actesActionMenuItems: [],
    };
  },
  mounted() {
    this.redirectToMembers = false;
  },
  methods: {
    changeNewDisplay() {
      this.newWorkspaceDialog = !this.newWorkspaceDialog;
    },
    changeModifyDisplay() {
      this.modifyWorkspaceDialog = !this.modifyWorkspaceDialog;
    },
    updateNode(node, name, description) {
      this.$emit("updateNode", node, name, description);
    },
    newWorkspace(item) {
      this.$emit("newWorkspace", item);
    },
    gotoEspaceActeVue(workspace) {
      this.$router.push({
        name: "seances",
        params: { id: workspace.name },
      });
    },
    toggleEspaceActeMembers(id) {
      this.$router.push({
        name: "espace-actes-membres",
        params: { id: id },
      });
    },
    toggleEspaceActeActionMenu(event, item) {
      this.actesActionMenuItems = [
        {
          label: "Modifier",
          icon: "ri-edit-line",
          command: () => {
            this.toggleModifyEspaceActe(item);
          },
        },
        {
          label: "Gérer les membres",
          icon: "ri-shield-user-line",
          command: () => {
            this.toggleEspaceActeMembers(item.name);
          },
        },
        {
          label: "Supprimer",
          icon: "ri-delete-bin-line",
          command: () => {
            this.toggleDeleteEspaceActe(item);
          },
        },
      ];
      this.$refs.workspaceMenuAction[0].toggle(event);
    },
    toggleCreateEspaceActe() {
      this.newWorkspaceDialog = true;
    },
    toggleModifyEspaceActe(item) {
      this.modifyWorkspaceItem = item;
      this.modifyWorkspaceDialog = true;
    },
    toggleDeleteEspaceActe(item) {
      workspaceService
        .deleteWorkspace(item.name)
        .then(() => {
          this.$emit("reload");
          this.$toast.add({
            severity: "success",
            summary: "Successful",
            detail: "Espace supprimé avec succès",
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Error",
            detail: err.message,
            life: 3000,
          });
        });
    },
    getReadableRole(role) {
      let readableRole = null;
      switch (role) {
        case "SiteManager":
          readableRole = "Gestionnaire";
          break;
        case "SiteConsumer":
          readableRole = "Lecteur";
          break;
        case "SiteCollaborator":
          readableRole = "Éditeur";
          break;
      }
      return readableRole;
    },
  },
};
</script>
