<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <ul class="list-none p-0 m-0">
    <li
      class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
    >
      <div class="text-500 w-6 md:w-3 font-medium pr-2">
        {{ name }}
      </div>
      <div class="text-900 w-6 md:w-9 md-value">
        {{ value }}
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: "DetailsItem",
  props: {
    name: null,
    value: null,
  },
};
</script>

<style lang="css" scoped>
.md-value {
  overflow-wrap: break-word;
}
</style>
