<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="grid grid-nogutter surface-section text-800">
    <div
      id="Presentation"
      class="col-12 md:col-5 p-8 text-center md:text-left flex align-items-center"
    >
      <section>
        <span class="block text-6xl font-bold mb-1"
          >Pristy, les applications pour votre métier :
        </span>
        <div id="highlight" class="text-6xl font-bold mb-3">
          Des modules qui simplifient la vie.
        </div>
        <p class="mt-0 mb-4 text-700 line-height-3">
          Avec <b>Pristy Actes Administratifs</b> déposer vos actes et mettez
          les à disposition des citoyens en quelques clics et avec
          <b>Pristy Espace</b>, profiter d’une interface de gestion de membres
          rapide et facile d’utilisation.
        </p>
        <Button
          label="Documentation"
          type="button"
          class="mr-3"
          @click="goTo('https://docs.pristy.fr/')"
          raised
        />
        <Button
          label="Notre site web"
          type="button"
          @click="goTo('https://pristy.fr/')"
          outlined
        />
      </section>
    </div>
    <div id="imageHome" class="col-12 md:col-6 overflow-hidden">
      <figure>
        <img
          src="../../public/images/home-page/mairieDijon.png"
          alt="Image"
          class="md:ml-auto block md:h-full"
          style="clip-path: polygon(6em 0, 100em 0em, 100em 100em, 0 60em)"
        />
        <figcaption>Crédit : Thibault PIEDALLU</figcaption>
      </figure>
    </div>
  </div>
</template>
<style>
.grid.grid-nogutter.surface-section.text-800 {
  gap: 3.6em;
}
.p-button-raised {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-color: var(--primary-color);
}
.p-button-raised:hover {
  background-color: var(--highlight-bg) !important;
  color: var(--highlight-text-color) !important;
  border-color: #343434 !important;
}
.p-button-outlined {
  color: var(--text-color);
  border-color: var(--primary-color) !important;
}
.p-button-outlined:hover {
  background-color: #343434 !important;
  color: white !important;
  border-color: #343434 !important;
}
.p-button-outlined:focus {
  box-shadow: none;
}
#highlight {
  color: var(--primary-color) !important;
}

@media (max-width: 800px) {
  body {
    margin-left: -2em;
  }
  #imageHome {
    display: none;
  }
}
</style>
<script>
export default {
  methods: {
    goTo(url) {
      window.open(url);
    },
  },
};
</script>
