<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <span class="block text-600 font-medium mb-3">{{ title.toUpperCase() }}</span>
  <ul class="p-0 mx-0 mt-0 mb-4 list-none">
    <li
      v-for="version in versions"
      :key="version.id"
      class="flex align-items-center py-2 border-bottom-1 surface-border"
    >
      <div
        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
      >
        <i class="text-xl text-blue-500">{{ version.entry.id }}</i>
      </div>
      <span class="text-900 line-height-3">
        {{ this.toLocaleDateString(version.entry.modifiedAt) }} le
        {{ this.toLocaleTimeString(version.entry.modifiedAt) }}
        <span class="text-700">
          par {{ version.entry.modifiedByUser.displayName }}
          <br />
          {{ version.entry.versionComment }}
        </span>
      </span>
    </li>
  </ul>
</template>
<script>
export default {
  name: "ListVersions",
  props: {
    versions: null,
    title: null,
  },
  methods: {
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
    toLocaleTimeString(datestr) {
      if (!datestr) {
        return "";
      }
      let time = datestr.toLocaleTimeString("fr-FR", {
        hour: "2-digit",
        minute: "2-digit",
        hour12: false,
      });
      return time;
    },
  },
};
</script>
