<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="card public-consultation-card" v-if="hasYears">
    <h1>{{ title }}</h1>
    <TabView @tab-change="tabChange">
      <TabPanel v-for="year in years" :key="year.name" :header="year.name">
        <div class="grid grid-nogutter gap-2">
          <div
            v-for="(seance, index) in year.seances"
            :key="index"
            class="surface-card shadow-2 seance-card cursor-pointer border-round"
            v-bind:class="{
              seanceCardSelected: seance.id === chosenSeance,
            }"
            @click="selectSeance(seance.id)"
          >
            <span class="text-xl">
              {{ seance.name }}
            </span>
            <span class="description" v-if="seance.description">
              {{ seance.description }}</span
            >
          </div>
        </div>
      </TabPanel>
    </TabView>
  </div>
</template>

<script>
import { webscriptApi } from "@pristy/pristy-libvue";

// ASC = 1; DESC = -1
const seancesSortOrder = -1;

export default {
  name: "RechercherSeance",
  emits: ["changeSeance"],
  data() {
    return {
      years: [],
      seances: [],
      chosenYear: 0,
      chosenSeance: "",
      title: "Filtrer les actes par années",
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      let webscriptUrl = `fr/jeci/pristy/actes/${this.paramEspaceId}/seances`;
      return webscriptApi
        .executeWebScript("GET", webscriptUrl)
        .then((response) => {
          const entries = Object.entries(response);
          if (entries.length <= 0) {
            return;
          }
          this.years = entries
            .map((year) => {
              const y = {
                name: year[0],
                seances: year[1].sort((a, b) => {
                  return (
                    seancesSortOrder * a.dateSeance.localeCompare(b.dateSeance)
                  );
                }),
              };
              y.seances.unshift({
                name: "Hors Séance",
                id: null,
              });
              return y;
            })
            .reverse();
          this.changeYear(this.years[0].name);
        });
    },
    tabChange(e) {
      this.changeYear(this.years[e.index].name);
    },
    changeYear(name) {
      const selectedYear = this.years.find((year) => year.name === name);
      this.chosenYear = selectedYear.name;
      this.seances = selectedYear.seances;
      this.selectSeance(null);
      this.title = "Filtrer les actes par années";
    },
    selectSeance(id) {
      this.chosenSeance = id;
      this.$emit("changeSeance", id, this.chosenYear);
      this.title = "Filtrer les actes par séances";
    },
  },
  computed: {
    hasYears() {
      return this.years && this.years.length > 0;
    },
    paramEspaceId() {
      return this.$route.params?.espace_id || "";
    },
  },
};
</script>
<style scoped lang="css">
.seanceCardSelected {
  border-bottom: 0.5rem solid #b3e5fc !important;
}

.seance-card {
  border-bottom: 0.5rem solid transparent;
  width: 20rem;
  padding: 0.5rem;
  margin: 0.1rem;
  display: grid;
  text-align: center;
}
</style>
