<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="w-full">
    <DataView
      :value="displayListActe"
      paginator
      :rows="20"
      dataKey="id"
      :loading="loading"
      responsiveLayout="scroll"
      :layout="layout"
    >
      <template #header>
        <div class="filter-bar">
          <h2 class="mr-auto">{{ title }}</h2>
          <div class="justify-content-end">
            <div class="flex-container">
              <DropDown
                v-if="isTypeFilterDisplayed"
                @change="filterCallback"
                :options="filteredTypeActeOptions"
                v-model="filterModel['type']"
                optionLabel="label"
                optionValue="type"
                placeholder="Filtrer par type d’actes"
                class="flex-grow"
                :showClear="false"
              />
              <div class="zone-recherche">
                <IconField iconPosition="left">
                  <InputIcon
                    class="ri-search-line"
                    @click="search(searchText)"
                  />
                  <InputText
                    v-model="filterModel['name']"
                    @keyup.enter="search(searchText)"
                    type="text"
                    @input="filterCallback"
                    :placeholder="`Filtrer les actes`"
                  />
                </IconField>
              </div>
              <DataViewLayoutOptions
                style="margin-left: auto"
                v-model="layout"
              />
            </div>
          </div>
        </div>
      </template>

      <template #empty>Aucun acte trouvé.</template>
      <template #loading>Chargement des actes. Veuillez patienter.</template>
      <template #list="{ items }">
        <div class="grid grid-nogutter">
          <div v-for="(data, index) in items" :key="index" class="w-full">
            <div class="flex flex-row align-items-start p-4 gap-4">
              <div class="flex-grow-0">
                <router-link :to="gotoPdfVue(data)">
                  <Image class="shadow-2 ml-3 mr-3" width="140">
                    <template #image>
                      <img
                        :src="alfrescoFileService().getThumbnailUrl(data.id)"
                        :alt="data.name"
                        @error="onImageLoadFailure($event, data)"
                      />
                    </template>
                    <template #preview>
                      <img
                        :src="alfrescoFileService().getPreviewUrl(data.id)"
                        :alt="data.name"
                      />
                    </template>
                  </Image>
                  <PristyIcon
                    class="searchIconList"
                    hidden
                    svgFileName="mimetype_pdf"
                    v-tooltip="`Acte Administratif`"
                  />
                </router-link>
              </div>
              <div class="flex-grow-1">
                <div class="file-items">
                  <div class="flex justify-content-end" style="max-width: 70vw">
                    <div>
                      <router-link :to="gotoPdfVue(data)" v-if="webdelib">
                        <h3>{{ data.properties["am:objetActe"] }}</h3>
                      </router-link>
                      <router-link
                        :to="gotoPdfVue(data)"
                        v-else-if="data.properties['cm:title']"
                      >
                        <h3>{{ data.properties["cm:title"] }}</h3>
                      </router-link>
                    </div>
                    <div style="margin-left: auto">
                      <span
                        :class="
                          'role-typeActe role-' +
                          (data.typeActe ? data.typeActe : '')
                        "
                        >{{ findNature(data.typeActe).label }}</span
                      >
                    </div>
                  </div>
                  <div class="pb-4 text-2xl" style="max-width: 70vw">
                    <router-link :to="gotoPdfVue(data)">
                      {{ data.name }}
                    </router-link>
                  </div>
                  <div v-if="data.dateSeance">
                    Séance du {{ toLocaleDateString(data.dateSeance) }}
                  </div>
                  <div>
                    {{ data.properties["cm:description"] }}
                  </div>
                  <div v-if="webdelib" dataType="date">
                    {{ toLocaleDateString(data.dateActe) }}
                  </div>
                  <div v-if="data.datePublication">
                    Publié le {{ toLocaleDateString(data.datePublication) }}
                  </div>
                  <div v-if="webdelib">
                    {{ data.libelleCodeActe }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #grid="{ items }">
        <div class="grid grid-nogutter gap-2">
          <div
            v-for="(data, index) in items"
            :key="index"
            class="flex flex-column card w-20rem"
          >
            <div>
              <div
                :class="
                  'role-typeActe role-' + (data.typeActe ? data.typeActe : '')
                "
              >
                {{ findNature(data.typeActe).label }}
              </div>
            </div>
            <div class="searchTitle mt-2 mb-2 w-18rem grid">
              <router-link :to="gotoPdfVue(data)" v-if="webdelib">
                <h3>{{ data.properties["am:objetActe"] }}</h3>
              </router-link>
              <router-link
                class="w-18rem h-2rem responsive-text text-900"
                :to="gotoPdfVue(data)"
                v-tooltip.bottom="data.properties['cm:title']"
                v-else
                >{{ data.properties["cm:title"] }}
              </router-link>
              <router-link
                class="w-18rem h-2rem responsive-text text-800"
                :to="gotoPdfVue(data)"
                v-tooltip.bottom="data.name"
              >
                {{ data.name }}
              </router-link>

              <div class="ml-6 mb-2">
                <router-link :to="gotoPdfVue(data)">
                  <Image width="180">
                    <template #image>
                      <img
                        :src="alfrescoFileService().getThumbnailUrl(data.id)"
                        :alt="data.name"
                        @error="onImageLoadFailure($event, data)"
                      />
                    </template>
                    <template #preview>
                      <img
                        :src="alfrescoFileService().getPreviewUrl(data.id)"
                        :alt="data.name"
                      />
                    </template>
                  </Image>
                  <PristyIcon
                    class="icone"
                    hidden
                    svgFileName="mimetype_pdf"
                    v-tooltip="`Acte Administratif`"
                  />
                </router-link>
              </div>
              <div class="flex align-items-center justify-content-between">
                <div class="file-items">
                  <div v-if="data.dateSeance" class="text-700">
                    Séance du {{ toLocaleDateString(data.dateSeance) }}
                  </div>
                  <div class="mt-2">
                    {{ data.properties["cm:description"] }}
                  </div>
                  <div v-if="webdelib" dataType="date">
                    {{ toLocaleDateString(data.dateActe) }}
                  </div>
                  <div v-if="data.datePublication">
                    Publié le {{ toLocaleDateString(data.datePublication) }}
                  </div>
                  <div v-if="webdelib">
                    {{ data.libelleCodeActe }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </DataView>
  </div>
</template>

<script>
import { mapState } from "pinia";
import delibService from "@/services/DelibService";
import {
  useConfigStore,
  alfrescoFileService,
  PristyIcon,
} from "@pristy/pristy-libvue";
import naturesActes from "@/assets/actes/natures.json";

function mapActe(data) {
  let acte = data.entry;
  acte.typeActe = data.entry?.properties?.["am:typeActe"] || "";
  acte.dateSeance = data.entry?.properties?.["am:dateSeance"] || "";
  acte.dateActe = data.entry?.properties?.["am:dateActe"] || "";
  acte.libelleCodeActe = data.entry?.properties?.["am:libelleCodeActe"] || "";
  acte.datePublication = data.entry?.properties?.["am:datePublication"] || "";
  return acte;
}

export default {
  name: "RechercheDelib",
  components: {
    PristyIcon,
  },
  props: {
    seance: {
      type: String,
    },
    year: {
      type: String,
    },
    title: {
      type: String,
    },
  },

  data() {
    return {
      filterModel: { name: "", type: "" },
      actes: [],
      filteredActes: [],
      layout: "grid",
      selectedDelib: null,
      listTypeActe: naturesActes,
      filteredTypeActeOptions: [],
      webdelib: false,
      loading: true,
      searchText: "",
      isTypeFilterDisplayed: false,
    };
  },
  mounted() {
    this.searchText = this.querySearch;
    this.webdelib = this.WEBDELIB;

    if (this.searchText !== "") {
      return delibService
        .searchDelibwith(this.searchText, this.paramEspaceId)
        .then((data) => {
          this.actes = data.list.entries.map(mapActe);
          this.clearFilter();
          this.loading = false;
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: error.message,
            life: 3000,
          });
        });
    } else if (this.year === "") {
      return delibService
        .searchActes(this.paramEspaceId)
        .then((data) => {
          this.actes = data.list.entries.map(mapActe);
          this.clearFilter();
          this.loading = false;
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: error.message,
            life: 3000,
          });
        });
    }
  },

  methods: {
    filterCallback: function () {
      this.filteredActes = this.actes.filter((acte) => {
        let select = true;
        if (this.hasFilterName) {
          select = acte.name
            .toLowerCase()
            .includes(this.filterModel.name.toLowerCase());
        }
        if (this.hasFilterType) {
          select = select && acte.typeActe === this.filterModel.type;
        }

        return select;
      });
    },
    clearFilter() {
      this.filteredActes = [];
      this.filterModel = { name: "", type: "" };
    },
    alfrescoFileService() {
      return alfrescoFileService;
    },
    search(value) {
      if (value !== "") {
        delibService
          .searchDelibwith(value, this.paramEspaceId)
          .then((data) => {
            this.actes = data.list.entries.map(mapActe);
            this.clearFilter();
          })
          .catch((err) => {
            // TODO Information utilisateur
            console.error(err);
          });
      } else {
        if (this.seance !== null) {
          delibService
            .getAllActes(this.paramEspaceId)
            .then((data) => {
              this.actes = data.list.entries.map(mapActe);
              this.clearFilter();
            })
            .catch((err) => {
              // TODO Information utilisateur
              console.error(err);
            });
        } else if (!this.year) {
          delibService
            .searchActes(this.paramEspaceId)
            .then((data) => {
              this.actes = data.list.entries.map(mapActe);
              this.clearFilter();
            })
            .catch((err) => {
              // TODO Information utilisateur
              console.error(err);
            });
        } else {
          delibService
            .getActesHorsSeance(this.paramEspaceId, this.year)
            .then((data) => {
              this.actes = data.list.entries.map(mapActe);
              this.clearFilter();
            })
            .catch((err) => {
              // TODO Information utilisateur
              console.error(err);
            });
        }
      }
    },
    onImageLoadFailure(event, node) {
      if (node && node.isFile && node.content.mimeType) {
        // TODO add if content.mimeType is supported ? "image/jpeg"
        alfrescoFileService.createAllRendition(node.id).catch((err) => {
          console.log(
            `createAllRendition error ${err.status} for ${node.id} mimeType=${node.content.mimeType}`,
          );
        });
      }
      event.target.parentElement.style.display = "none";
      event.target.parentElement.nextElementSibling.hidden = false;
    },
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
    gotoPdfVue(data) {
      if (this.paramEspaceId === undefined) {
        return {
          name: "consultation-pdf",
          params: {
            id: data.id,
          },
        };
      }
      return {
        name: "pub-consultation-pdf",
        params: {
          id: data.id,
          espace_id: this.paramEspaceId,
        },
      };
    },
    findNature(nature) {
      let type = this.listTypeActe.find((m) => m.type === nature);
      if (type) {
        return type;
      } else {
        return { label: "", type: "" };
      }
    },
  },
  computed: {
    ...mapState(useConfigStore, ["APP_ROOT", "WEBDELIB"]),
    typeOptions() {
      return this.listTypeActe.map((n) => n.label);
    },
    hasDeliberations() {
      return this.actes && this.actes.length > 0;
    },
    hasFilterName() {
      return this.filterModel.name && this.filterModel.name !== "";
    },
    hasFilterType() {
      return this.filterModel.type && this.filterModel.type !== "";
    },
    displayListActe() {
      if (this.hasFilterName || this.hasFilterType) {
        return this.filteredActes;
      }
      return this.actes;
    },
    querySearch() {
      return this.$route.query?.search || "";
    },
    paramEspaceId() {
      return this.$route.params?.espace_id;
    },
  },
  watch: {
    $route() {
      this.search(this.$route.query?.search || "");
    },
    actes() {
      const typeActesSet = this.actes.reduce((set, item) => {
        const typeActe = item.properties["am:typeActe"] || "";
        set.add(typeActe);
        return set;
      }, new Set());

      this.filteredTypeActeOptions = this.listTypeActe.filter((option) =>
        typeActesSet.has(option.type),
      );
      this.isTypeFilterDisplayed = this.filteredTypeActeOptions.length > 1;
    },
    seance() {
      if (this.seance) {
        delibService
          .getActesSeance(this.seance)
          .then((data) => {
            this.actes = data.list.entries.map(mapActe);
            this.clearFilter();
          })
          .catch((err) => {
            // TODO Information utilisateur
            console.error(err);
          });
      } else {
        delibService
          .getActesHorsSeance(this.paramEspaceId, this.year)
          .then((data) => {
            this.actes = data.list.entries.map(mapActe);
            this.clearFilter();
          })
          .catch((err) => {
            // TODO Information utilisateur
            console.error(err);
          });
      }
    },
    year() {
      delibService
        .getActesHorsSeance(this.paramEspaceId, this.year)
        .then((data) => {
          this.actes = data.list.entries.map(mapActe);
          this.clearFilter();
        })
        .catch((err) => {
          // TODO Information utilisateur
          console.error(err);
        });
    },
  },
};
</script>

<style lang="scss">
.p-dataview .p-dataview-header {
  background-color: white;
  border: none;
}

.p-dataview-content {
  margin-left: 1rem !important;
  margin-right: 1rem;
}

.searchIconList {
  width: 10rem;
  height: auto;
}

.searchTitle {
  align-items: center;
  color: var(--text-color) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & a {
    overflow-wrap: break-word;
    font-size: 1.4rem;
  }
}

.filter-bar {
  display: flex !important;
  flex-direction: column;
}

@media (min-width: 991px) {
  .filter-bar {
    flex-direction: row;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: -0.1rem;
}
</style>
