<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <BreadCrumbAlfresco
    v-if="workspace"
    :currentNode="workspace"
    :isInSearch="false"
    :isWorkspace="true"
  />

  <ZoneInfo
    v-if="workspace"
    :currentNode="workspace"
    :workspace="workspace"
    @displayNewSeance="toggleAddSeance"
    @displayPublicLink="openPublicLinkDialog"
  />
  <div class="col-12">
    <div class="card" v-if="!hideSeance">
      <div class="grid align">
        <div class="col">
          <h3>Les séances</h3>
        </div>
        <div class="col right">
          <Button
            v-if="canCreateSeance"
            class="mobile_button"
            type="button"
            icon="ri-add-line"
            v-tooltip="'Créer une nouvelle séance'"
            @click="toggleAddSeance"
            rounded
          />
          <Button
            v-if="canCreateSeance"
            class="classic_button"
            type="button"
            icon="ri-add-line"
            label="Créer une nouvelle séance"
            @click="toggleAddSeance"
          />
        </div>
      </div>

      <DataView
        :value="seances"
        layout="grid"
        paginator
        :rows="6"
        :rowsPerPageOptions="[6, 12, 24]"
        stateKey="dataview-seances-list"
        stateStorage="local"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
      >
        <template #grid="{ items }">
          <div class="flex flex-row flex-wrap">
            <div
              v-for="(seance, index) in items"
              :key="index"
              class="seance-card"
            >
              <div class="shadow-2 p-3 border-round">
                <div class="grid">
                  <div class="col">
                    <span class="block text-500 font-medium mb-3 flex">
                      <button
                        class="card-title"
                        @click="toggleSeanceVue(seance.entry.id)"
                      >
                        {{ seance.entry.properties["cm:title"] }}
                      </button>
                      <Button
                        icon="ri-pencil-line"
                        severity="secondary"
                        text
                        size="large"
                        @click="openModify(seance.entry)"
                        class="ml-2"
                      />
                    </span>
                  </div>
                </div>
                <div class="grid">
                  <div class="col">
                    <span
                      class="description"
                      v-if="seance.entry.properties['cm:description']"
                    >
                      {{ seance.entry.properties["cm:description"] }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </DataView>
    </div>
    <div class="card">
      <ActeDatatable
        v-if="workspace"
        :isSeance="false"
        :workspace="workspace"
        @reload="loadSpace()"
      />
    </div>
    <Dialog
      header="Créer une nouvelle séance"
      v-model:visible="addWorkspaceSeanceDialog"
      modal
      class="popup"
    >
      <div class="field grid">
        <label for="date" class="col-12 mb-2">Date</label>
        <div class="error-date">
          <Calendar showIcon showButtonBar v-model="dateSeance"></Calendar>
          <p v-if="displayErrorDateMessage" class="error-message">
            {{ errorDateMessage }}
          </p>
        </div>
      </div>
      <div class="field grid">
        <label for="description" class="col-12 mb-2">Description</label>
        <div class="col-12">
          <TextArea
            id="description"
            placeholder="Votre description ici"
            autoResize
            rows="3"
            v-model="description"
          />
        </div>
      </div>
      <template #footer>
        <Button
          label="Annuler"
          @click="toggleCloseAddingSeance"
          severity="secondary"
        />
        <Button label="Créer la séance" @click="toggleCreateSeance" />
      </template>
    </Dialog>

    <Dialog
      header="Lien de partage publique"
      v-model:visible="publicLinkDialog"
      modal
    >
      <span class="block mb-3">
        Lien de partage à fournir à vos utilisateurs qui n'ont pas de compte sur
        Pristy.
      </span>
      <span class="block mb-3">
        <a :href="publicLink" target="_blank">{{ publicLink }}</a>
      </span>
      <template #footer>
        <Button
          label="Fermer"
          @click="togglePublicLinkDialog"
          severity="secondary"
        />
      </template>
    </Dialog>
  </div>
  <ModifySeancePopup
    v-if="popup === 'MODIFYSEANCE'"
    :seance="seanceNode"
    @close="closePopup"
    @reload="loadSpace()"
  />
</template>

<script>
import delibService from "@/services/DelibService";
import ZoneInfo from "@/components/ZoneInfo.vue";
import {
  workspaceService,
  useUserStore,
  useConfigStore,
} from "@pristy/pristy-libvue";
import ActeDatatable from "@/components/ActeDatatable.vue";
import BreadCrumbAlfresco from "@/components/BreadCrumbAlfresco.vue";
import ModifySeancePopup from "@/components/popup/ModifySeancePopup.vue";

const NOT_FOUND = 404;

export default {
  data() {
    return {
      filters: null,
      workspace: null,
      seances: null,
      description: null,
      dateSeance: null,
      addWorkspaceSeanceDialog: false,
      publicLinkDialog: false,
      errorDateMessage: null,
      displayErrorDateMessage: null,
      publicLink: null,
      canCreateSeance: false,
      hideSeance: false,
      config: null,
      seanceNode: null,
      popup: null,
    };
  },
  mounted() {
    const config = useConfigStore();
    this.hideSeance = config.HIDE_SEANCE;
    this.loadSpace();
  },
  components: {
    ModifySeancePopup,
    BreadCrumbAlfresco,
    ActeDatatable,
    ZoneInfo,
  },
  methods: {
    openModify(seance) {
      this.seanceNode = seance;
      this.popup = "MODIFYSEANCE";
    },
    closePopup(reload) {
      this.popup = null;
      if (reload) {
        this.loadSpace();
      }
    },
    togglePdfVue(data) {
      return {
        name: "consultation-pdf",
        params: { id: data.id },
      };
    },
    initPopup() {
      this.errorDateMessage = null;
      this.displayErrorDateMessage = false;
      this.dateSeance = null;
    },
    toggleAddSeance() {
      this.initPopup();
      this.addWorkspaceSeanceDialog = true;
    },
    toggleCloseAddingSeance() {
      this.addWorkspaceSeanceDialog = false;
    },
    togglePublicLinkDialog() {
      this.publicLinkDialog = !this.publicLinkDialog;
    },
    openPublicLinkDialog() {
      const config = useConfigStore();
      this.publicLink = `${config.ACTES_HOST}/actes/consultation/${this.paramId}`;
      this.publicLinkDialog = true;
    },
    getDateName(date) {
      const dateOptions = { year: "numeric", month: "long", day: "numeric" };
      return date.toLocaleDateString("fr-FR", dateOptions);
    },
    toggleCreateSeance() {
      this.errorDateMessage = null;
      this.displayErrorDateMessage = null;
      if (this.dateSeance === null) {
        this.errorDateMessage = "Veuillez indiquer une date.";
        this.displayErrorDateMessage = true;
      } else {
        let opts = {
          name: `seance-du-${this.getDateName(this.dateSeance).replaceAll(
            " ",
            "-",
          )}`,
          nodeType: "am:dossierSeance",
          properties: {
            "cm:title": "Séance du " + this.getDateName(this.dateSeance),
            "am:dateSeance": new Date(
              Date.UTC(
                this.dateSeance.getFullYear(),
                this.dateSeance.getMonth(),
                this.dateSeance.getDate(),
              ),
            ),
            "cm:description": this.description,
          },
        };
        delibService
          .getWorkspaceContainers(this.workspace.id)
          .then((containers) => {
            return containers
              .filter((container) => container.folderId === "documentLibrary")
              .map((container) => {
                return container.id;
              });
          })
          .then((documentLibraryId) => {
            return delibService.createFileOrFolder(
              documentLibraryId,
              opts,
              "séance",
            );
          })
          .then((seance) => {
            this.seances.unshift(seance);
            this.addWorkspaceSeanceDialog = false;
            this.$toast.add({
              severity: "success",
              summary: "Successful",
              detail: "Séance créée avec succès",
              life: 3000,
            });
          })
          .catch((fileCreationError) => {
            this.errorDateMessage = fileCreationError;
            this.displayErrorDateMessage = true;
          });
      }
    },
    toggleSeanceVue(seanceId) {
      let id = this.workspace.id;
      this.$router.push({
        name: "seance-actes",
        params: { id: id, seance: seanceId },
      });
    },
    loadSpace() {
      const user = useUserStore();
      // use of == because we want to test null and undefined
      if (this.paramId == null) {
        console.warn("Le paramètre de séance ne devrait pas être nul");
        return;
      }

      workspaceService
        .getWorkspace(this.paramId)
        .then((workspace) => {
          if (workspace.status === NOT_FOUND) {
            this.$router.push({ path: "/interdit" });
          } else {
            this.workspace = workspace;
            this.canCreateSeance =
              workspace.role === "SiteManager" ||
              workspace.role === "SiteCollaborator";
            delibService
              .memberSiteAccess(workspace.id, user.person.id)
              .then((member) => {
                if (member.status === NOT_FOUND) {
                  this.$router.push({ path: "/interdit" });
                }
              });
            return workspace;
          }
        })
        .then((workspace) => {
          // use of == because we want to test null and undefined. Mais ca devrait jamais etre null !
          if (workspace != null) {
            delibService
              .searchWorkspaceSeances(workspace.id)
              .then((data) => {
                this.seances = data.list.entries;
              })
              .catch((err) => {
                // TODO Information utilisateur
                console.error(err);
              });
          }
        });
    },
  },
  computed: {
    paramId() {
      return this.$route.params?.id || "";
    },
    paramEspaceId() {
      return this.$route.params?.espace_id || "";
    },
  },
  watch: {
    $route() {
      if (this.$route.name === "seances") {
        this.loadSpace();
      }
    },
  },
};
</script>

<style scoped lang="scss">
h3 {
  margin: 0;
}

.seance-card {
  margin: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  flex-basis: 18rem;
  min-width: 20rem;
  max-width: 20rem;
}
</style>
