<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="zone-recherche">
    <IconField iconPosition="left" class="mb-2 search">
      <InputIcon class="ri-search-line" @click="search(this.searchInput)" />
      <InputText
        v-model="searchInput"
        @keyup.enter="search(this.searchInput)"
        @change="change(this.searchInput)"
        style="width: 100%"
        placeholder="Rechercher"
      />
    </IconField>
  </div>
</template>

<script>
export default {
  name: "ZoneRecherche",
  props: {
    workspace: null,
  },
  data() {
    return {
      searchInput: null,
    };
  },
  methods: {
    change(value) {
      if (value === "") {
        this.clearSearch();
      }
    },
    search(value) {
      if (value != null) {
        this.$router.push({
          name: "recherche-actes",
          query: {
            search: value,
          },
        });
      }
    },
    clearSearch() {
      this.searchInput = null;
      /* reloadData */
    },
  },
};
</script>
