<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Button
    icon="ri-close-line"
    style="position: absolute; right: 2.5rem; z-index: 990; margin-top: 0.2rem"
    @click="close()"
    v-tooltip.bottom="`Fermer`"
    raised
    outlined
    rounded
    severity="secondary"
  />
  <TabView id="zoneInformation">
    <TabPanel header="Détails">
      <div class="surface-section" id="voletDetails">
        <h4>Métadonnées</h4>
        <FileDetailsItem
          v-for="(field, index) in fileFields"
          :key="index"
          :name="field.name"
          :value="getFieldValue(field.property)"
        />
      </div>
    </TabPanel>
    <TabPanel header="Versions">
      <div class="surface-section" id="historyVersion">
        <h5>Historique des versions</h5>
        <div v-if="today.length > 0">
          <ListVersions title="AUJOURD'HUI" :versions="today" />
        </div>
        <div v-if="before.length > 0">
          <ListVersions title="AVANT" :versions="before" />
        </div>
      </div>
    </TabPanel>
  </TabView>
</template>
<script>
import { alfrescoNodeService, useConfigStore } from "@pristy/pristy-libvue";
import ListVersions from "@/components/ListVersions.vue";
import FileDetailsItem from "@/components/FileDetailsItem.vue";
export default {
  name: "ZoneInformation",
  props: {
    node: null,
  },
  components: {
    ListVersions,
    FileDetailsItem,
  },
  emits: ["close"],
  data() {
    return {
      contentFields: [
        { name: "Nom", property: "name" },
        { name: "Titre", property: "properties[`cm:title`]" },
        { name: "Description", property: "properties[`cm:description`]" },
        { name: "Type", property: "nodeType" },
        { name: "Version", property: "properties[`cm:versionLabel`]" },
        { name: "Auteur", property: "createdByUser" },
        { name: "Créer le", property: "createdAt" },
        { name: "Modifié par", property: "modifiedByUser" },
        { name: "Modifié le", property: "modifiedAt" },
        { name: "Taille", property: "content" },
        { name: "MimeType", property: "mimeType" },
      ],
      webdelibFields: [
        {
          name: "Nom de la collectivité",
          property: "properties[`am:nomCollectivite`]",
        },
        {
          name: "SIRET de la collectivité",
          property: "properties[`am:siretCollectivite`]",
        },
        { name: "Identifiant de l’acte", property: "properties[`am:idActe`]" },
        { name: "Objet de l’acte", property: "properties[`am:objetActe`]" },
        { name: "Date de l’acte", property: "dateActe" },
        { name: "Code de l’acte", property: "properties[`am:codeActe`]" },
        {
          name: "Libellé du code de l’acte",
          property: "properties[`am:libelleCodeActe`]",
        },
        { name: "Publié le", property: "datePublication" },
      ],
      versions: [],
      today: [],
      before: [],
    };
  },
  created() {
    const config = useConfigStore();
    if (config.WEBDELIB) {
      this.fileFields = this.contentFields.concat(this.webdelibFields);
    } else {
      this.fileFields = this.contentFields;
    }

    alfrescoNodeService
      .listNodeVersionHistory(this.node.id)
      .then((versions) => {
        versions.list.entries.forEach((version) => {
          this.versions.push(version);
        });
        let currentDate = new Date();
        this.versions.forEach((version) => {
          let dateToCheck = version.entry.modifiedAt;
          if (dateToCheck.toDateString() === currentDate.toDateString()) {
            this.today.push(version);
          } else {
            this.before.push(version);
          }
        });
      });
  },
  methods: {
    close() {
      this.$emit("close");
    },
    getFieldValue(property) {
      if (property.startsWith("properties")) {
        let propertyName = property.substring(
          property.indexOf("[") + 2,
          property.indexOf("]") - 1,
        );
        return this.node.properties[propertyName];
      }

      switch (property) {
        case "content":
          return this.convertBytesToSize(this.node.content);
        case "mimeType":
          return this.node.content.mimeType;
        case "modifiedByUser":
        case "createdByUser":
          return this.node[property].displayName;
        case "createdAt":
        case "modifiedAt":
          return this.toLocaleDateString(this.node[property]);
        case "datePublication":
          return this.toLocaleDateString(
            this.node.properties["am:datePublication"],
          );
        case "dateActe":
          return this.toLocaleDateString(this.node.properties["am:dateActe"]);
        default:
          return this.node[property];
      }
    },
    convertBytesToSize(content) {
      if (!content) {
        return "";
      }
      let bytes = content.sizeInBytes;
      var sizes = ["B", "KB", "MB", "GB", "TB"];
      if (bytes === 0) return "0 B";
      var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
      return Math.round(bytes / Math.pow(1024, i), 2) + " " + sizes[i];
    },
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
  },
};
</script>

<style lang="css" scoped>
#zoneInformation {
  position: sticky;
  top: 5rem;
}
</style>
