<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="flex">
    <div class="flex ml-auto">
      <TieredMenu ref="menuAction" :model="menuActionItems" :popup="true" />
      <Button
        type="button"
        icon="ri-settings-line"
        v-tooltip="'Plus d’actions'"
        @click="toggleMenuActionButton($event)"
        severity="secondary"
        rounded
        raised
        outlined
      />
    </div>
  </div>
</template>

<script>
import {
  alfrescoFileService,
  alfrescoNodeService,
  workspaceService,
} from "@pristy/pristy-libvue";
import axios from "axios";

export default {
  name: "ZoneActions",
  props: {
    currentNode: null,
    workspace: null,
  },
  data() {
    return {
      menuActionItems: [],
      csvFiles: [],
    };
  },
  mounted() {
    /* set display true if selectedNodes */
    this.checkCsv();
  },
  emits: ["toggleNewSeance", "togglePublicLink"],

  methods: {
    checkCsv() {
      workspaceService
        .getWorkspace(this.$route.params.id)
        .then((workspace) => {
          return alfrescoNodeService.getDirectChildren(workspace.guid);
        })
        .then((response) => {
          const files = response.children.filter(
            (child) => child.isFile === true,
          );
          this.csvFiles = files.length > 0 ? files : [];
        })
        .catch((error) => {
          console.error("Erreur lors de la récupération des enfants :", error);
        });
    },
    toggleMenuActionButton(event) {
      this.menuActionItems = [
        {
          label: "Ajouter une séance",
          icon: "ri-folder-add-line",
          command: () => {
            this.newSeance();
          },
        },
        {
          label: "Afficher lien publique",
          icon: "ri-links-line",
          command: () => {
            this.publicLink();
          },
        },
        {
          label: "Exporter le fichier des actes publiés compatible Open Data",
          icon: "ri-share-circle-line",
          disabled: this.csvFiles.length === 0,
          items: this.csvFiles.length > 0 ? this.getCsvFilesMenuItems() : [],
        },
      ];
      this.$refs.menuAction.toggle(event);
    },
    newSeance() {
      this.$emit("toggleNewSeance");
    },
    publicLink() {
      this.$emit("togglePublicLink");
    },
    getCsvFilesMenuItems() {
      return this.csvFiles.map((file) => ({
        label: file.name,
        icon: "ri-file-text-line",
        command: () => {
          this.downloadOpenDataCsv(file);
        },
      }));
    },
    downloadOpenDataCsv(file) {
      let url = alfrescoFileService.getContentUrl(file.id);
      axios
        .get(url, { responseType: "blob" })
        .then((response) => {
          const blob = new Blob([response.data], {
            type: file.content.mimetype,
          });
          const link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          link.download = file.name;
          link.click();
          URL.revokeObjectURL(link.href);
        })
        .catch(console.error);
    },
  },
  watch: {
    $route() {
      if (this.$route.name === "seances") {
        this.checkCsv();
      }
    },
  },
};
</script>
