<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="zone-info">
    <div class="mobile_zone">
      <ZoneRecherche class="contents" :workspace="workspace" />
      <div class="align">
        <ZoneBadges :workspace="workspace" />
        <ZoneActions
          @togglePublicLink="displayPublicLink"
          @toggleNewSeance="displayNewSeance"
        />
      </div>
    </div>
    <div class="grid align classic_zone">
      <div class="col">
        <ZoneBadges :workspace="workspace" />
      </div>
      <div class="col-6">
        <ZoneRecherche :workspace="workspace" />
      </div>
      <div class="col right">
        <ZoneActions
          @togglePublicLink="displayPublicLink"
          @toggleNewSeance="displayNewSeance"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ZoneBadges from "@/components/ZoneBadges.vue";
import ZoneRecherche from "@/components/ZoneRecherche.vue";
import ZoneActions from "@/components/ZoneActions.vue";

export default {
  name: "ZoneInfo",
  components: { ZoneBadges, ZoneRecherche, ZoneActions },
  props: {
    currentNode: null,
    workspace: null,
  },
  methods: {
    displayPublicLink() {
      this.$emit("displayPublicLink");
    },
    displayNewSeance() {
      this.$emit("displayNewSeance");
    },
  },
};
</script>
