<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="zone-badges">
    <span
      :class="`role-badge role-${
        workspace.role ? workspace.role.toLowerCase() : ''
      }`"
      >{{ getReadableRole(workspace.role) }}</span
    >
    <i
      v-tooltip="getReadableVisibility(workspace.visibility)"
      :class="`${getVisibilityIcon(workspace.visibility)} mb-1`"
    ></i>
  </div>
</template>

<script>
export default {
  name: "ZoneBadges",
  props: {
    workspace: null,
  },
  methods: {
    getReadableRole(role) {
      let readableRole = null;
      switch (role) {
        case "SiteManager":
          readableRole = "Gestionnaire";
          break;
        case "SiteConsumer":
          readableRole = "Lecteur";
          break;
        case "SiteCollaborator":
          readableRole = "Éditeur";
          break;
      }
      return readableRole;
    },
    getReadableVisibility(visibility) {
      let readableVisibility = null;
      switch (visibility) {
        case "PUBLIC":
          readableVisibility = "Public";
          break;
        case "PRIVATE":
          readableVisibility = "Privé";
          break;
        case "MODERATED":
          readableVisibility = "Modéré";
          break;
      }
      return readableVisibility;
    },
    getVisibilityIcon(visibility) {
      let visibilityIcon = null;
      switch (visibility) {
        case "PUBLIC":
          visibilityIcon = "ri-global-line";
          break;
        case "PRIVATE":
          visibilityIcon = "ri-git-repository-private-line";
          break;
        case "MODERATED":
          visibilityIcon = "ri-shield-user-line";
          break;
      }
      return visibilityIcon;
    },
  },
};
</script>

<style lang="scss" scoped>
.zone-badges {
  display: inline-flex;
  align-items: center;
}
</style>
