<template>
  <div class="flex">
    <div class="action-buttons">
      <Button
        class="classic_button"
        type="button"
        icon="ri-download-line"
        v-tooltip="'Télécharger'"
        :disabled="isDownloadDisable"
        @click="toggleDownloadButton"
        rounded
        text
        severity="secondary"
      />
      <Button
        class="classic_button"
        type="button"
        icon="ri-corner-up-right-line"
        v-tooltip="'Déplacer'"
        :disabled="!areFileModifyVisible"
        @click="openMove"
        rounded
        text
        severity="secondary"
      />
      <Button
        class="classic_button"
        type="button"
        icon="ri-delete-bin-line"
        v-tooltip="'Supprimer'"
        :disabled="isMoveOrDeleteDisable"
        @click="confirmDeletion"
        rounded
        text
        severity="secondary"
      />
      <div style="max-width: 3vw">
        <Menu ref="menuAction" :model="menuActionItems" :popup="true">
          <template #item="{ label, item, props }">
            <router-link
              v-if="item.route"
              v-slot="routerProps"
              :to="item.route"
              custom
            >
              <a :href="routerProps.href" v-bind="props.action">
                <span v-bind="props.icon" />
                <span v-bind="props.label">{{ label }}</span>
              </a>
            </router-link>
            <a v-else :href="item.url" v-bind="props.action">
              <span v-bind="props.icon" />
              <span v-bind="props.label">{{ label }}</span>
            </a>
          </template>
        </Menu>
        <Button
          type="button"
          icon="ri-more-2-line"
          v-tooltip="'Plus d\'actions)'"
          :disabled="isDisabled"
          @click="toggleMenuActionButton"
          rounded
          text
          severity="secondary"
        />
      </div>
    </div>
  </div>
  <ConfirmDialog group="confirmDeleteConsultedFile" />
  <MoveNodePopup
    v-if="popup === 'MOVENODE'"
    :display="true"
    @close="closePopup(true)"
    @reload-datatable="removeNode"
    :currentNode="nodes"
  />
  <ShareLinkPopup
    v-if="popup === 'SHARELINK'"
    :currentNode="nodes[0]"
    @close="closePopup"
  />
  <ModifyDelibPopup
    v-if="popup === 'MODIFYNODE'"
    @close="closePopup"
    @reload="this.$emit('reload')"
  />
</template>

<script>
import {
  alfrescoNodeService,
  useNavigationStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import pLimit from "p-limit";
import actionsService from "@/services/ActionsService.js";
import { mapState } from "pinia";
import MoveNodePopup from "@/components/popup/MoveNodePopup.vue";
import ShareLinkPopup from "@/components/popup/ShareLinkPopup.vue";
import ModifyDelibPopup from "@/components/popup/ModifyDelibPopup.vue";

export default {
  name: "ZoneSelection",
  emits: ["reload", "remove-node"],
  components: { ModifyDelibPopup, MoveNodePopup, ShareLinkPopup },
  data() {
    return {
      popup: null,
      menuActionItems: [],
    };
  },
  methods: {
    removeNode(nodes) {
      this.closePopup(false);
      this.$emit("remove-node", nodes);
    },
    toggleMenuActionButton(event) {
      this.menuActionItems = [
        {
          label: "Télécharger",
          icon: "ri-download-line",
          class: "mobile_button",
          visible: false,
          command: () => {
            this.toggleDownloadButton();
          },
        },
        {
          label: "Déplacer",
          icon: "ri-corner-up-right-line",
          class: "mobile_button",
          command: () => {
            this.openMove();
          },
        },
        {
          label: "Supprimer",
          icon: "ri-delete-bin-line",
          class: "mobile_button",
          command: () => {
            this.deleteItems();
          },
        },
        {
          label: "Ouvrir dans un nouvel onglet",
          icon: "ri-external-link-line",
          visible: this.isOpenVisible,
          command: () => {
            this.openInNewTab();
          },
        },
        {
          label: "Importer une nouvelle version",
          icon: "ri-file-upload-line",
          visible:
            this.isFileModifyVisible &&
            this.isOneFileSelected &&
            !this.hasDatePublication,
          command: () => {
            this.openModify();
          },
        },
        {
          label: "Ajouter une annexe",
          icon: "ri-upload-2-line",
          visible: this.isFileModifyVisible && this.isOneFileSelected,
          command: () => {
            this.openModify();
          },
        },
        {
          label: "Obtenir le lien de partage",
          icon: "ri-links-line",
          visible: this.isOneFileSelected,
          command: () => {
            this.openShareLink();
          },
        },
        {
          label: "Modifier",
          icon: "ri-information-line",
          visible: this.isFileModifyVisible && this.isOneFileSelected,
          command: () => {
            this.openModify();
          },
        },
      ];
      this.$refs.menuAction.toggle(event);
    },
    openShareLink() {
      if (this.nodes.length === 1) {
        this.popup = "SHARELINK";
      }
    },
    openMove() {
      if (this.nodes.length > 0) {
        this.popup = "MOVENODE";
      }
    },
    openModify() {
      if (this.nodes[0]) {
        this.popup = "MODIFYNODE";
      }
    },
    openInNewTab() {
      /* ouvrir chaque élément de la liste selectedNodes dans un nouvel onglet */
      if (this.files.length > 0) {
        this.files.forEach((file) => {
          setTimeout(() => {
            const route = this.$router.resolve(
              actionsService.getRouteForOpenInNewTab(file),
            );
            window.open(route.href, "_blank_" + file.id);
          }, 750);
        });
      }
      if (this.folders.length > 0) {
        this.folders.forEach((folder) => {
          setTimeout(() => {
            const route = this.$router.resolve(
              actionsService.getRouteForNavigationInNewTab(
                useNavigationStore().workspace.id,
                folder,
              ),
            );
            window.open(route.href, "_blank_" + folder.id);
          }, 750);
        });
      }
    },
    confirmDeletion() {
      let items = this.nodes;
      this.$confirm.require({
        message: `Êtes vous sûr de vouloir supprimer ${items.length} élément(s) ? `,
        header: "Supprimer",
        acceptLabel: "Oui",
        rejectLabel: "Non",
        group: "confirmDeleteConsultedFile",
        accept: () => {
          this.deleteItems(items);
          this.$confirm.close();
        },
        reject: () => {
          this.$confirm.close();
        },
      });
    },
    deleteItems() {
      const limit = pLimit(3);
      const deletePromises = this.nodes.map((element) =>
        limit(() => alfrescoNodeService.deleteNode(element.id)),
      );
      Promise.allSettled(deletePromises)
        .then((deleteResponses) => {
          useSelectionStore().resetSelection();

          const successfulToast = deleteResponses
            .filter((resp) => resp.status === "fulfilled")
            .map((resp) => resp.value.entry?.name);
          const listError = deleteResponses
            .filter((resp) => resp.status !== "fulfilled")
            .map((resp) => resp.reason);

          if (successfulToast.length > 0) {
            this.toastSuccess(
              "success",
              `${successfulToast.length} élément(s) déplacé(s) avec succès`,
            );
          }
          if (listError.length > 0) {
            this.toastError("errors.errorDelete", listError);
          }
          this.$emit("reload");
          if (
            this.$route.name.startsWith("consultation") ||
            this.$route.name.includes("edit")
          ) {
            const navigationStore = useNavigationStore();
            this.$router.push({
              name: "navigation",
              params: {
                id: navigationStore.workspace.id,
                FolderId: navigationStore.currentNode.parentId,
              },
            });
          }
        })
        .catch((error) => {
          this.toastError("errors.errorDelete", error);
        });
    },
    toastSuccess(labelId, detail) {
      this.$toast.add({
        severity: "success",
        summary: "",
        detail: detail,
        life: 5000,
      });
    },
    toastError(labelId, detail) {
      this.$toast.add({
        severity: "error",
        summary: "",
        detail: detail,
        life: 5000,
      });
    },
    toggleDownloadButton() {
      actionsService.toggleDownloadFile(this.files);
    },
    closePopup(reload) {
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    hasRequiredOperationsForOwner() {
      const requiredOperations = ["update", "delete", "updatePermissions"];
      return this.nodes.every((node) => {
        if (!node.allowableOperations) {
          return false;
        }
        return requiredOperations.every((operation) =>
          node.allowableOperations.includes(operation),
        );
      });
    },
  },
  computed: {
    ...mapState(useSelectionStore, ["files", "folders", "nodes"]),
    hasDatePublication() {
      const file = this.files[0];
      return (
        file &&
        file.properties &&
        file.properties["am:datePublication"] !== undefined
      );
    },
    hasParamVersionId() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
    isDownloadDisable() {
      return (
        this.hasParamVersionId ||
        this.folders.length > 0 ||
        this.files.length < 1
      );
    },
    isOpenVisible() {
      return (
        (this.files.length > 0 && this.folders.length === 0) ||
        (this.folders.length > 0 && this.files.length === 0)
      );
    },
    areFileModifyVisible() {
      if (this.files.length === 0) {
        return false;
      }

      return this.files.every((file) => {
        return (
          file.allowableOperations &&
          file.allowableOperations.includes("update") &&
          this.folders.length === 0
        );
      });
    },
    isFileModifyVisible() {
      const file = this.files[0];
      if (file && file.allowableOperations) {
        return (
          file.allowableOperations.includes("update") &&
          this.files.length === 1 &&
          this.folders.length === 0
        );
      }
      return false;
    },
    isFolderModifyVisible() {
      const folder = this.folders[0];
      if (folder && folder.allowableOperations) {
        return (
          folder.allowableOperations.includes("update") &&
          this.files.length === 0 &&
          this.folders.length === 1
        );
      }
      return false;
    },
    isDisabled() {
      return (
        this.hasParamVersionId ||
        !(this.files.length >= 1 || this.folders.length >= 1)
      );
    },
    isMoveOrDeleteDisable() {
      return (
        this.hasParamVersionId ||
        !(this.files.length >= 1 || this.folders.length >= 1) ||
        !this.hasRequiredOperationsForOwner()
      );
    },
    isOneElementSelected() {
      return (
        (this.files.length === 1 && !this.folders.length) ||
        (this.folders.length === 1 && !this.files.length)
      );
    },
    isOneFileSelected() {
      return this.files.length === 1 && !this.folders.length;
    },
  },
};
</script>

<style scoped></style>
