<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="layout-topbar">
    <Button
      icon="ri-layout-left-line"
      class="ml-2 mr-6"
      @click="onMenuToggle"
      rounded
      outlined
      raised
      severity="secondary"
      aria-label="Menu"
    />
    <a :href="topbarPortail" class="layout-topbar-logo">
      <div id="topBarLogo" />
    </a>

    <button
      class="p-link layout-topbar-menu-button layout-topbar-button"
      v-styleclass="{
        selector: '@next',
        enterClass: 'hidden',
        enterActiveClass: 'scalein',
        leaveToClass: 'hidden',
        leaveActiveClass: 'fadeout',
        hideOnOutsideClick: true,
      }"
    >
      <i class="ri-more-2-line" />
    </button>
    <ul class="layout-topbar-menu hidden lg:flex origin-top">
      <li>
        <Menu ref="menuOptions" :model="menuOptionsItems" :popup="true" />
        <button
          class="p-link layout-topbar-button"
          @click="toggleMenuOptions($event)"
          v-tooltip.bottom="`Options`"
        >
          <i class="ri-settings-3-line" />
          <span>Settings</span>
        </button>
      </li>
      <li>
        <button
          class="p-link layout-topbar-button"
          v-tooltip.bottom="this.displayName"
        >
          <i class="ri-user-3-line" />
          <span>Profile</span>
        </button>
      </li>
      <li>
        <button
          class="p-link layout-topbar-button"
          @click="onButtonLogout"
          v-tooltip.bottom="'Déconnexion'"
        >
          <i class="ri-logout-circle-r-line" />
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useUserStore, useConfigStore } from "@pristy/pristy-libvue";
import { useRouter } from "vue-router";

export default {
  userStore: null,
  config: null,
  router: null,
  displayName: null,
  data() {
    return {
      menuOptionsItems: [],
    };
  },
  created() {
    this.userStore = useUserStore();
    this.router = useRouter();
    this.config = useConfigStore();
  },
  methods: {
    onMenuToggle(event) {
      this.$emit("menu-toggle", event);
    },
    onTopbarMenuToggle(event) {
      this.$emit("topbar-menu-toggle", event);
    },
    toggleMenuOptions(event) {
      this.menuOptionsItems = [
        {
          label: "Corbeille",
          icon: "ri-delete-bin-line",
          command: () => {
            window.location = `${this.config.PORTAIL_HOST}/portail/corbeille`;
          },
        },
        {
          label: "Mes espaces actes",
          icon: "ri-building-line",
          command: () => {
            this.router.push({
              name: "mes-espaces-actes",
            });
          },
        },
      ];
      this.$refs.menuOptions.toggle(event);
    },
    onButtonLogout() {
      useUserStore().logout();
      const beforeRouteName = this.$route.name;
      this.$router.push({
        name: "login",
      });
      if (this.$route.name === beforeRouteName) {
        this.$router.go("/login");
      }
    },
  },
  computed: {
    ...mapState(useUserStore, ["displayName"]),

    topbarPortail() {
      return `${this.config.PORTAIL_HOST}/portail`;
    },
  },
};
</script>
<style scoped>
#topBarLogo {
  background-position: center;
  background-size: contain;
  width: 14rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-image: url("/images/pristy/logo-pristy-app-actes-fdtr.png");
}
</style>
