<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div :class="containerClass" @click="onWrapperClick">
    <Toast />

    <div class="layout-main-container public-page">
      <ConsultationHeader />
      <div class="layout-main">
        <router-view />
      </div>
      <AppFooter />
    </div>
  </div>
</template>

<script>
import AppFooter from "./AppFooter.vue";
import ConsultationHeader from "@/components/ConsultationHeader.vue";

export default {
  data() {
    return {};
  },
  watch: {
    $route() {
      this.$toast.removeAllGroups();
    },
  },
  methods: {
    onWrapperClick() {
      if (!this.menuClick) {
        this.mobileMenuActive = false;
      }

      this.menuClick = false;
    },
  },
  computed: {
    containerClass() {
      return [
        "layout-wrapper",
        {
          "layout-static": true,
          "p-input-filled": this.$primevue.config.inputStyle === "filled",
          "p-ripple-disabled": this.$primevue.config.ripple === false,
        },
      ];
    },
  },
  components: {
    AppFooter,
    ConsultationHeader,
  },
};
</script>

<style lang="scss">
@import "./PubPage.scss";
</style>
