/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.public-page {
  &.layout-main-container {
    padding: 0;
    margin-left: 0 !important;
    background-color: var(--surface-a);
  }
  &.layout-main {
    padding: 2rem;
    margin-left: 0 !important;
    background-color: var(--surface-a);
  }
}

.layout-logo {
  width: 20rem;
  height: 5rem;
  margin: {
    top: 0.5rem;
  }
  content: "";
  background-image: url("/public/images/pristy/logo-pristy-actes.png");
  background-size: 20rem 5rem;
}
.layout-title {
  min-width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3rem;
}
.header-layout {
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  width: 100%;
}
.header {
  width: 100%;
  z-index: 997;
  background-color: var(--surface-card);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02), 0 0 2px rgba(0, 0, 0, 0.05),
  0 1px 4px rgba(0, 0, 0, 0.08);
}
.search {
  width: 25vw;
  margin-left: auto;
  margin-top: 1rem;
  margin-right: 2rem;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .header {
    justify-content: space-between;
  }
  .layout-logo {
    display: none;
    width: 5rem;
    height: 5rem;
    margin: {
      top: 0.5rem;
      left: 0;
    }
    content: "";
    background-image: url("/public/images/pristy/logo-pristy-actes.png");
    background-size: 20rem 5rem;
  }
  .search {
    display: none;
  }
  .layout-title {
    min-width: 20vw;
    width: 90vw;
    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3rem;
  }
}
