/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

/* General */
$fontSize: 14px;
$borderRadius: 12px;
$transitionDuration: 0.2s;
$yellow: #ffd44f;
$lightgray: #ededed;
$lightgreen: #c8e6c9;
$darkgreen: #256029;
$lightorange: #feedaf;
$darkorange: #8a5340;
$lightpurple: #eccfff;
$darkpurple: #694382;
$lightblue: #b3e5fc;
$darkblue: #23547b;
$lightpink: #FF99F2;
$darkpink: #872B7B;
$pristyblue: #30afcc;
$sakaigreen: #449e48;